/* contacts */

    #map-canvas {
    height: 310px;
    width: 550px;
    margin: 0;
    padding: 0;
    cursor: default !important;
    }

    #map-canvas {
    -webkit-clip-path: url(#chopChop);
    -moz-clip-path: url(#chopChop);
    -ms-clip-path: url(#chopChop);
    clip-path: url(#chopChop);
    }
    #map-canvas .gm-style > div:nth-child(2) {
    bottom: 30px !important;
    left: 195px !important;
    }
    #map-canvas .gm-style > div:nth-child(2):div div {
    cursor: default;
    }


    .contacts{ background-image: url(../images/contact-bg.jpg); background-size: cover;
        .conteiner{padding-top: 135px;}
        .mbox{max-width: 960px; padding: 0 20px; margin: 0 auto;  text-align: left;
            .top-part{padding-bottom: 15px;}
            .map{ position: relative; float: right; margin-top: -100px;
                svg{width: 550px; height: 310px; position: absolute; top: 0; pointer-events: none; right: 0;}
            }
            .title{ text-align: left; padding-bottom: 55px;
            h2{font-family: "ProximaNova", sans-serif; color: rgb(134, 74, 208); font-weight: bold; line-height: 1.2; font-size: 61px; text-transform: uppercase; margin: 0; }
            }
            .sutext{ line-height: 1.75; font-family: "PFAgoraSansPro", sans-serif; font-size: 15px; font-style: italic; text-align: left; color: white; font-variant: small-caps; }
            .mobile{display: none;}
            .pointers{ padding-top: 20px;
                ul{ list-style: none; padding: 0;
                li{padding-left: 37px; position: relative; padding-top: 10px; padding-bottom: 0px;
                    a{text-decoration: underline; display: inline-block; color: white; font-family: "PFAgoraSansPro", sans-serif; font-weight: 100;font-size: 14px;   font-style: italic; font-variant: small-caps; line-height: 1.75;
                        &:before{content: ''; background-image: url(../images/marker.png); width: 24px; height: 30px; background-position: center; position: absolute; left: 0; bottom: 0; }
                    }
                    
                }
                }
            }
            .bottom-part{display: flex; align-items: stretch; justify-content: space-between; 
                .qestion{width: 290px; text-align: left; display: flex; align-items: center; position: relative;
                    &:before{content: ''; position: absolute; left: 30%; right: 30%; height: 7px; top: 30px; background-color: white; }
                    .head{ font-size: 21px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps;  font-weight: 300; line-height: 1.2; padding-bottom: 25px;}
                    .practical{ font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps;  font-weight: 300; line-height: 1.2; padding-bottom: 25px;
                        img{ display: inline-block;}
                        .af{margin: 0; display: inline-block; vertical-align: top; margin-left: 30px;}
                    }
                    .after{font-family: "PFAgoraSansPro", sans-serif; color: rgba(255, 255, 255, 0.29);  font-style: italic; font-variant: small-caps; line-height: 1.2; font-weight: 100; font-size: 18px;}
                }
                .form{width: calc(100% - 320px); padding: 37px 44px; border: 3px dotted #864ad0;
                    .contact-form-title{width: 100%; padding-bottom: 20px;
                        h5{margin: 0;  font-size: 26px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps;  line-height: 1.2;  letter-spacing: 2px;
                            span{color: #864ad0; }
                        }
                    }
                    .contact-form-row{padding-bottom: 20px;
                        .contact-form-item{ width: 100%; max-width: 47%; float: left;
                            &:nth-child(2){float: right;}
                            .form_input{
                                p{ font-size: 12px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps; line-height: 1.2; font-weight: 500; padding-bottom: 10px; transition: all 0.3s; box-shadow: none; }
                                input{ width: 100%; border: none; border-radius: 6px; background-color: white; height: 36px; padding-left: 10px; font-size: 16px; font-family: "ProximaNova", sans-serif; color: rgba(0, 0, 0, 0.91); font-variant: small-caps;line-height: 1.2;}
                                .errorText{display: none !important;}
                        
                                .convert{ 
                                    .pronto1{width: 33%; float: left; }
                                    .pronto2{width: 58%; float: right; }
                                }
                                span{ font-size: 14px; font-family: "PFAgoraSansPro", sans-serif; color: rgba(255, 255, 255, 0.278); font-style: italic;  font-variant: small-caps; line-height: 1.2; font-weight: 100; padding-top: 5px; display: block;}
                            }
                            .error{
                                p{color: red;}
                                input{box-shadow: inset 0px 0px 5px 1px rgba(255,0,0,1);}
                            }
                        }
                    }
                    .contact-form-row-submit{
                        button{width: 135px; height: 35px; text-align: center; border: none; border-radius: 6px; background-color: #864ad0; transition: all 0.3s;
                            span{line-height: 35px; font-size: 18px; font-family: "Roboto"; color: rgb(255, 255, 255);  font-variant: small-caps; line-height: 1.2; text-transform: uppercase;}
                            &:hover{ background-color:#652CAB; }
                        }
                    }
                }
            }
            .mobile-bottom{display: none;
                .we-are-good{max-width: 350px; margin: 0 auto; text-align: center; font-size: 21px; font-family: "PFAgoraSansPro";  color: rgb(255, 255, 255); font-style: italic; font-variant: small-caps;line-height: 1.2;   text-align: center;     padding-top: 30px; }
                .more-q-t{ font-size: 33px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; text-align: center;     padding-top: 23px;}
                .more-q-s{font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; text-align: center;     padding-top: 5px;}
                .ibatt{ width: 300px; margin: 0 auto;    padding-top: 24px;
                    a{display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: 39px; position: relative; width: 230px; height: 60px; background-color: #864ad0; border-radius: 20px; transition: all 0.3s;
                        &:hover{ background-color:#652CAB; }
                        span{color: white; font-size: 18px; font-family: "PFAgoraSansPro", sans-serif;  font-weight: bold; font-variant: small-caps; letter-spacing: 1.5px;}
                        &:before{content: ''; position: absolute; background-image: url('../images/man-ask.png'); background-size: cover; width: 37px; height: 37px; left: -58px; bottom: 11px;} 
                    }
                }
            }
        }
    }
/* contacts */

/* services */

    .services{background-image: url(../images/ser-bg.jpg); overflow: hidden; background-size: cover;
    &.active{
        .mbox{transform: none; visibility: visible; opacity: 1; }
    }
        .mbox{max-width: 1300px; padding: 0 15px; visibility: hidden;       
        transform: matrix3d(0.9, 0, 0, 0, 0, -0.50, 0.433013, -0.000433013, 0, -0.866025, -0.5, 0.0005, 0, -300.615, -900, 1.9); transform-origin: 50% 20% 100px; transition: all 0.7s ease; opacity: 0;

            &.animated{transform: none;}

            

            .title-text{ padding-top: 132px;
                h2{font-size: 47px; font-family: "ProximaNova", sans-serif; color: white; text-transform: uppercase; line-height: 1.2; margin: 0; font-weight: 900;  text-align: center;
                    span{color: rgb(134, 74, 208);}
                }
            }
            .top-block{
                .lister{display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; }
                .item{ display: block; text-decoration: none; margin-top: 30px;
                    .cont{margin: 0 auto; max-width: 70px; height: 45px;
                        svg{width: 100%; height: 100%; transition: all 0.3s; fill: white;
                            path{transition: all 0.3s;}
                        }
                    }
                    .after{padding-top: 13px;
                        b{display: block; text-decoration: none; height: 30px; line-height: 27px; border: 2px solid #67368f;padding: 0 10px; border-radius: 13px; font-size: 19px; font-family: "ProximaNova"; color: rgb(255, 255, 255);  font-weight: 700; font-variant: small-caps; background-color: transparent; transition: all 0.3s;                            
                        }

                    }
                    &:hover{
                        .cont svg path{fill: #67368f; }
                        .after b{ background-color: #67368f; }
                    }
                }
            }

            .bot-block{display: flex; align-items: stretch; justify-content: space-between; padding-top: 80px;
                .left-side{width: 50%;
                    .hed{
                        h5{text-align: right; font-size: 46px; font-family: "ProximaNova", sans-serif; color: rgb(254, 254, 254); text-transform: uppercase;line-height: 1.2; font-weight: 900; margin: 0;
                            span{color: #864ad0; }
                        }
                    }
                    .but-row{text-align: right;display: flex; align-items: center; justify-content: flex-end; padding: 33px 0;
                        .going-to{ position: relative; margin-left: 20px;
                            span{ font-size: 16px; font-family: "Roboto", sans-serif; margin-top: -3px;  color: rgb(255, 255, 255); text-decoration: underline; font-variant: small-caps;line-height: 1.2; padding-right: 35px;}
                            img{position: absolute; right: 0; top: calc(100% - 20px); }
                        }
                    }
                    .citat{ font-size: 17px; font-family: "PFAgoraSansPro", sans-serif;  color: rgb(159, 159, 159); font-style: italic; font-variant: small-caps; font-weight: 500; line-height: 1.2; text-align: right;}
                    .call{ text-align: right; padding-top: 25px;
                        .call-me{width: 137px; display: inline-block; height: 31px; border-radius: 13px; background-color: #864ad0; text-align: center; text-decoration: none; transition: all 0.3s; margin-left: 40px;
                            span{line-height:  31px;  font-size: 16px; font-family: "ProximaNova"; color: rgb(255, 255, 255); font-weight: bold;  font-variant: small-caps;}
                            &:hover{background-color: #6637a1; } 
                        }
                    }
                }
                .right-side{width: 50%;
                    .rat{width: 100%; text-align: center; font-size: 283px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-weight: bold; font-variant: small-caps;text-shadow: -5px 0px 0px #6637a1;}
                    .under{display: flex; align-items: center; justify-content: space-around;
                        .part{ padding-left: 35px; position: relative; text-align: left; max-width: 210px;
                            img{position: absolute; top: 0; left: 0; }
                            .title{font-size: 18px; font-family: "Roboto", sans-serif; font-weight: 500; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; padding-bottom: 10px;}
                            .after{font-size: 10px; font-family: "PFAgoraSansPro", sans-serif; color: rgb(159, 159, 159); font-style: italic; font-variant: small-caps; line-height: 1.2;   text-align: left; font-weight: 500;}
                        }
                    }
                }
            }

            .mobile{display: none !important;}
        }
    }

/* services */