@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1632px){

    /* inside-graph-design */

        .inside-graph-design{

            .graph-design-row{
                &:nth-child(odd){
                    .graph-design-img{margin-right: -10px;}
                }
                &:nth-child(even){
                    .graph-design-img{margin-left: -10px;}
                }
            }

        }

    /* /inside-graph-design */

    /* inside-smm */

        .inside-smm{
            .inside-smm-row{margin: 0 -10px;padding:0 0 0 10px;
                &.inside-smm-bottom{margin:0 -10px 90px -10px;}
                &.inside-smm-bottom-text{margin:0 -10px 72px -10px;}
            }
            .inside-smm-top{margin: 0 -10px 60px -10px;}

        }

    /* /inside-smm */

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

    /* third-block */

        .our-team{
            .our-team-wrap{
                .left-column-text-wrap{margin-bottom: 35px;}
                .slider-block{
                    .slider-fotos{left:340px;}
                    .slider-item-descript{
                        &:before{width: 135px;top: 172px;}
                        &:after{left:calc(100% + 134px);height: 65px;top:calc(172px - 65px);}
                    }
                }
                .right-column{right:calc(100% - 1140px);}
            }
        }

    /* /third-block */

}
@media screen and (max-width: 1280px){

    /* inside-smm */

        .inside-smm{
            .inside-smm-top{
                .inside-smm-top-items{
                    ul{padding:0 10px 0 0;
                        li{padding-left: 15px;}
                    }
                }
            }
        }

    /* /inside-smm */

}
@media screen and (max-width: 1024px){

    /* third-block */

        .our-team{
            .our-team-wrap{
                .left-column-text-wrap{opacity: 1;}
                .slider-block{
                    .slider-fotos{opacity:1;}
                    .slider-item-descript{opacity: 1;}
                }
                .right-column{opacity: 1;}
            }
        }

    /* /third-block */

    /* inside-graph-design */

        .inside-graph-design{

            .inside-title{padding-top: 83px;}

            .graph-design-row{display: block;margin-bottom: 70px;

                &:first-child{
                    .inside-title{padding-top: 25px;margin-bottom: 61px;}
                    .inside-links{margin-bottom: 30px;}
                }
                &:last-child{margin-bottom: 65px;
                    .graph-design-img{height: 559px;}
                    .inside-title{margin-bottom: 51px;}
                }

                .graph-design-text, .graph-design-img{width: 100%;}
                &:nth-child(odd), &:nth-child(even){
                    .graph-design-img{margin-right: -10px;margin-left:-10px;width: calc(100% + 20px);}
                }
                .graph-design-img{
                    .graph-design-img-wrap{height: 566px;}
                    .graph-design-form{right:calc(50% - 300px);bottom:17px;
                        .slide-form{
                            .slide-form-wrap{bottom: 0px;}
                        }
                    }
                }
            }

            .inside-mobile{padding-top: 105px;
                hr{margin-bottom: 50px;}
            }

            .inside-graph-text-wrap{

                &.graph-inside-wrap-top{margin-bottom: 64px;}

                h6{font-size: 26px;}

            }

            .graph-inside-center{display: block;text-align: center;padding:55px 0 76px 0;
                img{margin-bottom: 20px;max-width: 100%;}
                ul{text-align: left;columns:3;max-width: 575px;width: 100%;margin:0 auto;padding-top: 47px;}
            }

        }

    /* /inside-graph-design */

    /* inside-smm */

        .inside-smm{

            .slide-form{
                .slide-form-wrap{bottom:-25px;}
            }

            .inside-smm-row{display: block;padding:0;
                .inside-smm-row-left, .inside-smm-row-right{width: 100%;}
                .inside-smm-row-left{padding:0 10px;}
                &.inside-smm-top{
                    .inside-smm-row-left{margin-bottom: 90px;}
                }
                .inside-smm-row-right{
                    .inside-smm-img{height: 555px;}
                }

            }

            .inside-smm-middle{flex-wrap:wrap;margin: 0 auto 95px auto;max-width: 540px;width: 100%;
                .inside-smm-middle-item{margin-bottom: 110px;
                    &:nth-last-child(1), &:nth-last-child(2){margin-bottom: 0;}
                }
            }

            .inside-smm-bottom{background-color: transparent;
                .inside-smm-row-left{padding:60px 25px 78px 25px;background-color: #864ad0;
                    .inside-smm-progress{max-width: none;
                        &:last-child{margin-bottom: 0;}
                    }
                }
                .inside-smm-row-right{
                    .inside-smm-text{padding:120px 10px 120px 10px;}
                    .inside-smm-img{height: 452px;}
                }
            }

            .inside-smm-top{
                .inside-smm-row-left{
                    .inside-title{padding-top: 15px;}
                }
            }

        }

    /* /inside-smm */

    /* slide-form */

        .slide-form{

            .slide-form-wrap{bottom:-20px;right:calc(100% + 10px);width: 427px;padding: 55px 45px 30px 45px;
                .slide-form-title{font-size: 16px;}

                .form_row{margin-bottom: 8px;
                    &:last-child{margin-bottom: 0;}
                    &.form_submit{padding-top: 70px;
                        .button{min-width: 120px;height: 51px;font-size: 16px;}
                    }
                }

                p{font-size: 16px;margin: 0 0 30px 0;}
                input, textarea{height: 50px;padding:0 15px;font-size: 16px;
                    &::-webkit-input-placeholder {font-size: 16px;}
                    &:-moz-placeholder {font-size: 16px;}
                    &::-moz-placeholder {font-size: 16px;}
                    &:-ms-input-placeholder {font-size: 16px;}
                }
                textarea{padding:10px 15px;min-height: 135px;}
            }

            .slide-form-letter{width: 72px;height: 72px;
                span{width: 46px;height: 32px;background-size: auto;
                    &.mail-icon-hover{background-position: -46px 0;}
                }
            }

        }

    /* /slide-form */

    /* inside-title */

        .inside-desktop{display: none;}
        .inside-mobile{display: block;}

    /* /inside-title */

}
@media screen and (max-width: 992px){

    /* third-block */

        .our-team{
            .conteiner{transform:scale(1) translateZ(0)!important;margin-top: 0!important;}
            .our-team-wrap{display: block;text-align: center;

                .title-small{
                    &.desktop{display: none;}
                    &.mobile{display: block;}
                }
                .title{margin-bottom: 20px;}
                .descript{display: none;}

                .descript-mobile-wrap{display: flex;
                    .descript{display: block;}
                }

                .left-column{padding-top: 10px;}
                .right-column{display: none;}
                .slider-block{
                    .slider-background{bottom:79px;}
                    .slider-fotos{position: relative;left: auto;margin:0 auto;transform:scale(.85);
                        .slick-prev, .slick-next{width: 75px;height: 75px;max-height: none;transform-origin:50% 50%;
                            &:before, &:after{content:'';display: block;position: absolute;left:0;top:0;width: 75px;height: 75px;transition:all 300ms ease;}
                            &:before{background-image:url(../images/buton.png);z-index: 0;}
                            &:after{background-image: url(../images/buton-hover.png);z-index: 1;opacity: 0;}
                            &:hover{
                                &:before{opacity: 0;}
                                &:after{opacity: 1;}
                            }
                        }
                        .slick-prev{left:-80px;transform:translate(0, -4%);}
                        .slick-next{right:-80px;transform:rotate(180deg) translate(0, 0);}
                    }
                    .slider-fotos-wrap{margin-bottom: 0;
                        .slider-foto{padding-bottom: 95px;
                            .slider-socials{justify-content: space-around;padding-top: 0;width: 50%;position: absolute;right: 0;bottom: 2px;padding:0 10px;
                                .slider-social-item{
                                    a{display: flex;width: 49px;height: 49px;justify-content: center;align-items: center;border:2px solid rgba(255,255,255, .75);border-radius: 50%;transition:border-color 300ms ease;
                                        &:hover{border-color:rgba(255,255,255,1);}
                                    }
                                }
                            }
                        }
                    }
                    .slider-item-descript{padding-top: 50px;
                        &:before{left: 50%;top:auto;bottom:100%;height: 66px;width: 1px;}
                        &:after{display: none;}
                        .slider-item-descript-wrap{left:calc(50% - 186px);top:50px;
                            &.active{top:0;}
                        }
                    }
                }
            }

        }

    /* /third-block */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}