.inside-brendbook{
	.mbox{max-width:1670px;padding:0 0px 0 0px;
		.brend-book-wrapper{display: flex; flex-wrap: wrap;
			.brend-book-block1{width: 50%;min-width: 640px;
				.same-part{
					.inside-title{padding: 55px 35px 0 0;margin-bottom: 20px;
					}

			        .inside-graph-price{text-align: center;margin-bottom: 35px;font-weight: 900;font-size: 26px;text-transform: uppercase;color:#7a44bd; padding: 0 0 0 0px; margin-top: 25px;}

			        .inside-graph-links{display: flex;align-items: center;justify-content: center;position: relative;margin-bottom: 48px;
			            &:before{content:'';display: block;width: 3px;height: 80%;background-color: #864ad0;position: absolute;left:48.3%;top:5px;}
			            a{display: block;position:relative;margin: 0 50px;text-transform: uppercase;font-size: 26px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#864ad0;text-decoration: none;padding-bottom: 7px;letter-spacing: 1.4px;
			                &:after{content:'';display: block;position: absolute;bottom:0;left:0;width: 100%;height: 4px;background-image:url(../images/purple-dot.png);transition:all 300ms ease;}
			                &:hover{
			                    &:after{transform:scale(0);}
			                }
			            }
			        }
			        .graph-inside-text-wrap{font-size: 18px;font-weight: 300;color:#7f7f7f;line-height:1.25; font-family: 'Roboto', sans-serif; letter-spacing: 1.2px; padding: 0 0px 0 55px; text-align: left;
            			&.graph-inside-wrap-top{margin-bottom: 50px;}
					}
				}
				.sircle-part{position: relative;
					.sircle{background-color: rgb(134, 74, 208);opacity: 0.902; border-radius: 50%; position:absolute;
						&.animate-delay{transform: scale(0);opacity: 0;transition:all ease-out .4s .2s;
						    &.animated{transform: scale(1) !important;opacity: 0.902 !important;}
						}
						.hedding{ background-color: rgb(0, 0, 0);opacity: 0.8; max-width: 285px; position: relative;
							p{font-family: 'Roboto'; font-size: 35px; color: #fff; line-height: 1.9; text-align: center; font-weight: 700; letter-spacing: 1.2px;
								span{color: #864ad0;}

							}
						}
						.sircle-text{width: 210px; margin: 0 auto 0; padding:10px 0px 0 0;
							p{	font-family: 'Roboto'; color: #fff; font-weight: 300;	font-size: 14px; margin: 5px 0 0 0;	line-height: 1.2; letter-spacing: 1px;	white-space: pre-line;
							}
						}
					}
					.sircle1{width: 352px; height: 352px; left: 13.5%; top: 0px;
						.hedding{left: -90px; top: 5px;
							p:last-child{display: none;
							}
						}
						.sircle-text{padding:10px 20px 0 0;
							p{}
						}
					}
					.sircle2{width: 333px; height: 334px; left: 49%; top: 40px;
						.hedding{top: 107px; left:38px;

						}
						.sircle-text{width: 210px; padding:10px 10px 0 0;position: relative;bottom: 110px; left: 28px;

						}
					}
					.sircle3{width: 271px; height: 271px; left: 33%; top: 260px;
						.hedding{top: 100px; left:-10px;	min-width: 280px;
						}
						.sircle-text{width: 210px; padding:10px 25px 0 0;position: relative;bottom: 120px; left: 23px;

						}
					}
				}
			}
			.brend-book-block2{width: 50%;min-width: 640px; position: relative;
				.brend-book-block2-form{position: absolute;right: 20px;bottom:10px;

				}
				img{display: block; margin: 0 0 0 auto;}
			}
			.brend-book-block3{width: 50%;min-width: 640px; padding: 220px 0 65px 0;
				.graph-inside-text-wrap{font-size: 21px;font-weight: 300;color:#7f7f7f;line-height:1.25; font-family: 'Roboto', sans-serif; letter-spacing: 1.2px; padding: 0 0px 0 55px;
            			&.graph-inside-wrap-top{margin-bottom: 50px;}
					}
				.image-wrapper{	padding: 0 0 0 55px;
					img{}
				}
			}
			.brend-book-block4{width: 50%;min-width: 640px; display: flex; flex-wrap: wrap; padding: 60px 0 0 0; align-items: flex-start;
				.right-content-block{ width: 50%;display: flex; flex-wrap: wrap;  padding: 0px 0px 0 0px;
					&.animate-delay{transform: translateX(100%);opacity: 0;transition:all ease-out .4s .2s;
					    &.animated{transform: translateX(0%) !important;opacity: 1 !important;}
					}
					.wraper-for-sircle{ width: 33%;padding: 0 0px 0 15px;
						&:nth-child(2){
							.text-under-sircle{position: relative; left: -25px;	}

						}
						&:nth-child(1){
							.text-under-sircle{position: relative; left: -10px;	}

						}
						&:nth-child(3){

							.text-under-sircle{position: relative; left: 15px;	}

						}
						.sircle-for-letter{border-radius: 50%;background-color: rgb(134, 74, 208);width: 115px;height: 115px; line-height: 2.2;  text-align: center; font-family: 'PT Serif', serif;font-size: 51px; color: #fff; font-weight: bold; position: relative;margin: 0 auto;
							&:before{content: ""; display: block;  min-width: 90px; min-height: 90px; border-radius: 50%;  border: 2px solid #fff; position: absolute; left: 13px; top: 13px;
							}
						}
						.text-under-sircle{	text-align: center;font-weight: "ProximaNova"; font-weight: 300; font-size: 20px; padding: 27px 0 0 0px;
						}
					}
					.wrapper-for-text-content{font-family: 'Roboto', sans-serif; padding: 0 0 0 25px;
						p{font-weight: 300; font-size: 18px; color: #7f7f7f; line-height: 1.2; white-space: pre-line; }
						span{ font-weight: bold; color: rgb(56, 32, 85); }
					}
				}
				.left-content-block{width: 50%;display: flex; flex-wrap: wrap; justify-content: space-between; padding: 0px 0px 0 0px;
					&.animate-delay{transform: translateX(100%);opacity: 0;transition:all ease-out .4s .2s;
					    &.animated{transform: translateX(0%) !important;opacity: 1 !important;}
					}
					.wraper-for-sircle{width: 33%;
						&:nth-child(2){
							.text-under-sircle{position: relative; left: 0px;	}
						}
						&:nth-child(1){
							.text-under-sircle{position: relative; left: 0px;	}
						}
						&:nth-child(3){
							.sircle-for-letter{position: relative; left: 0px;}

						}
						.sircle-for-letter{border-radius: 50%;background-color: rgb(134, 74, 208);opacity: 0.749;width: 115px;height: 115px; line-height: 2.2;  text-align: center; font-family: 'PT Serif', serif; font-size: 51px; color: #fff; font-weight: bold; position: relative; margin: 0 auto;
							&:before{content: ""; display: block;  min-width: 90px; min-height: 90px; border-radius: 50%;  border: 2px solid #fff; position: absolute; left: 13px; top: 13px;
							}

						}
						.text-under-sircle{text-align: center;font-weight: "ProximaNova"; font-weight: 300; font-size: 20px; padding: 27px 0 0 0;

						}
					}
					.wrapper-for-text-content{ padding: 0 0 0 20px; font-family: 'Roboto', sans-serif;
						p{font-weight: 300; font-size: 18px; color: #7f7f7f; line-height: 1.2;white-space: pre-line;}
						span{ font-weight: bold; color: rgb(164, 119, 220); }
					}
				}
				.lower-content-block{ padding: 0 0 0px 20px;
					.signification1{ font-family: 'ProximaNova'; font-weight: 900; font-size: 108px; }
					.signification2{ font-family: 'ProximaNova'; font-weight: bold; font-size: 108px;}
					.signification3{font-family: 'ProximaNova'; font-weight: 300; font-size: 108px;}
					.graph-inside-text-wrap{font-size: 21px;font-weight: 300;color:#7f7f7f;line-height:1.25; font-family: 'Roboto', sans-serif; letter-spacing: 1.2px; padding: 0 0px 0 0px;
            			&.graph-inside-wrap-top{margin-bottom: 50px;}
					}

				}
			}
		}
	}
}
