@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

    /* third-block */

        .our-team{
            .our-team-wrap{
                .left-column-text-wrap{margin-bottom: 35px;}
                .slider-block{
                    .slider-fotos{left:340px;}
                    .slider-item-descript{
                        &:before{width: 135px;top: 172px;}
                        &:after{left:calc(100% + 134px);height: 65px;top:calc(172px - 65px);}
                    }
                }
                .right-column{right:calc(100% - 1140px);}
            }
        }

    /* /third-block */

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

    /* third-block */

        .our-team{
            .our-team-wrap{
                .left-column-text-wrap{opacity: 1;}
                .slider-block{
                    .slider-fotos{opacity:1;}
                    .slider-item-descript{opacity: 1;}
                }
                .right-column{opacity: 1;}
            }
        }

    /* /third-block */

}
@media screen and (max-width: 992px){

    /* third-block */

        .our-team{
            .conteiner{transform:scale(1) translateZ(0)!important;margin-top: 0!important;}
            .our-team-wrap{display: block;text-align: center;

                .title-small{
                    &.desktop{display: none;}
                    &.mobile{display: block;}
                }
                .title{margin-bottom: 20px;}
                .descript{display: none;}

                .descript-mobile-wrap{display: flex;
                    .descript{display: block;}
                }

                .left-column{padding-top: 10px;}
                .right-column{display: none;}
                .slider-block{
                    .slider-background{bottom:79px;}
                    .slider-fotos{position: relative;left: auto;margin:0 auto;transform:scale(.85);
                        .slick-prev, .slick-next{width: 75px;height: 75px;max-height: none;transform-origin:50% 50%;
                            &:before, &:after{content:'';display: block;position: absolute;left:0;top:0;width: 75px;height: 75px;transition:all 300ms ease;}
                            &:before{background-image:url(../images/buton.png);z-index: 0;}
                            &:after{background-image: url(../images/buton-hover.png);z-index: 1;opacity: 0;}
                            &:hover{
                                &:before{opacity: 0;}
                                &:after{opacity: 1;}
                            }
                        }
                        .slick-prev{left:-80px;transform:translate(0, -4%);}
                        .slick-next{right:-80px;transform:rotate(180deg) translate(0, 0);}
                    }
                    .slider-fotos-wrap{margin-bottom: 0;
                        .slider-foto{padding-bottom: 95px;
                            .slider-socials{justify-content: space-around;padding-top: 0;width: 50%;position: absolute;right: 0;bottom: 2px;padding:0 10px;
                                .slider-social-item{
                                    a{display: flex;width: 49px;height: 49px;justify-content: center;align-items: center;border:2px solid rgba(255,255,255, .75);border-radius: 50%;transition:border-color 300ms ease;
                                        &:hover{border-color:rgba(255,255,255,1);}
                                    }
                                }
                            }
                        }
                    }
                    .slider-item-descript{padding-top: 50px;
                        &:before{left: 50%;top:auto;bottom:100%;height: 66px;width: 1px;}
                        &:after{display: none;}
                        .slider-item-descript-wrap{left:calc(50% - 186px);top:50px;
                            &.active{top:0;}
                        }
                    }
                }
            }

        }

    /* /third-block */

    /* inside-graph-design */

        .inside-graph-design{

            .graph-design-form{right:calc(50% - 306px);}

        }

    /* /inside-graph-design */

    /* slide-form */

        .slide-form{

            .slide-form-wrap{bottom:-20px;right:calc(100% + 10px);}

        }

    /* /slide-form */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}