.page_inside .header{position: static; background-color: black;}

/* contacts */

    #map-canvas {
    height: 310px;
    width: 550px;
    margin: 0;
    padding: 0;
    cursor: default !important;
    }

    #map-canvas {
    -webkit-clip-path: url(#chopChop);
    -moz-clip-path: url(#chopChop);
    -ms-clip-path: url(#chopChop);
    clip-path: url(#chopChop);
    }
    #map-canvas .gm-style > div:nth-child(2) {
    bottom: 30px !important;
    left: 195px !important;
    }
    #map-canvas .gm-style > div:nth-child(2):div div {
    cursor: default;
    }


    .contacts{ background-image: url(../images/contact-bg.jpg); background-size: cover;

        .conteiner{padding-top: 75px;}

        .mbox{max-width: 960px; padding: 0 20px; margin: 0 auto;  text-align: left;
            .top-part{padding-bottom: 15px;}
            .map{ position: relative; float: right; margin-top: -100px;
                svg{width: 550px; height: 310px; position: absolute; top: 0; pointer-events: none; right: 0;}
            }
            .title{ text-align: left; padding-bottom: 55px;
            h2{font-family: "ProximaNova", sans-serif; color: rgb(134, 74, 208); font-weight: bold; line-height: 1.2; font-size: 61px; text-transform: uppercase; margin: 0; }
            }
            .sutext{ line-height: 1.75; font-family: "PFAgoraSansPro", sans-serif; font-size: 15px; font-style: italic; text-align: left; color: white; font-variant: small-caps; }
            .mobile{display: none;}
            .pointers{ padding-top: 20px;
                ul{ list-style: none; padding: 0;
                li{padding-left: 37px; position: relative; padding-top: 10px; padding-bottom: 0px;
                    a{text-decoration: underline; display: inline-block; color: white; font-family: "PFAgoraSansPro", sans-serif; font-weight: 100;font-size: 14px;   font-style: italic; font-variant: small-caps; line-height: 1.75;
                        &:before{content: ''; background-image: url(../images/marker.png); width: 24px; height: 30px; background-position: center; position: absolute; left: 0; bottom: 0; }
                    }

                }
                }
            }
            .bottom-part{display: flex; align-items: stretch; justify-content: space-between;
                .qestion{width: 290px; text-align: left; display: flex; align-items: center; position: relative;
                    &:before{content: ''; position: absolute; left: 30%; right: 30%; height: 7px; top: 30px; background-color: white; }
                    .head{ font-size: 21px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps;  font-weight: 300; line-height: 1.2; padding-bottom: 25px;}
                    .practical{ font-size: 16px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps;  font-weight: 300; line-height: 1.2; padding-bottom: 25px;
                        img{ display: inline-block;}
                        .af{margin: 0; display: inline-block; vertical-align: top; margin-left: 30px;}
                    }
                    .after{font-family: "PFAgoraSansPro", sans-serif; color: rgba(255, 255, 255, 0.29);  font-style: italic; font-variant: small-caps; line-height: 1.2; font-weight: 100; font-size: 18px;}
                }
                .form{width: calc(100% - 320px); padding: 37px 44px; border: 3px dotted #864ad0;
                    .contact-form-title{width: 100%; padding-bottom: 20px;
                        h5{margin: 0;  font-size: 26px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps;  line-height: 1.2;  letter-spacing: 2px;
                            span{color: #864ad0; }
                        }
                    }
                    .contact-form-row{padding-bottom: 20px;
                        .contact-form-item{ width: 100%; max-width: 47%; float: left;
                            &:nth-child(2){float: right;}
                            .form_input{
                                p{ font-size: 12px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255);   font-variant: small-caps; line-height: 1.2; font-weight: 500; padding-bottom: 10px; transition: all 0.3s; box-shadow: none; }
                                input{ width: 100%; border: none; border-radius: 6px; background-color: white; height: 36px; padding-left: 10px; font-size: 16px; font-family: "ProximaNova", sans-serif; color: rgba(0, 0, 0, 0.91); font-variant: small-caps;line-height: 1.2;}
                                .errorText{display: none !important;}

                                .convert{
                                    .pronto1{width: 33%; float: left; }
                                    .pronto2{width: 58%; float: right; }
                                }
                                span{ font-size: 14px; font-family: "PFAgoraSansPro", sans-serif; color: rgba(255, 255, 255, 0.278); font-style: italic;  font-variant: small-caps; line-height: 1.2; font-weight: 100; padding-top: 5px; display: block;}
                            }
                            .error{
                                p{color: red;}
                                input{box-shadow: inset 0px 0px 5px 1px rgba(255,0,0,1);}
                            }
                        }
                    }
                    .contact-form-row-submit{
                        button{width: 135px; height: 35px; text-align: center; border: none; border-radius: 6px; background-color: #864ad0; transition: all 0.3s;
                            span{line-height: 35px; font-size: 18px; font-family: "Roboto"; color: rgb(255, 255, 255);  font-variant: small-caps; line-height: 1.2; text-transform: uppercase;}
                            &:hover{ background-color:#652CAB; }
                        }
                    }
                }
            }
            .mobile-bottom{display: none;
                .we-are-good{max-width: 350px; margin: 0 auto; text-align: center; font-size: 21px; font-family: "PFAgoraSansPro";  color: rgb(255, 255, 255); font-style: italic; font-variant: small-caps;line-height: 1.2;   text-align: center;     padding-top: 30px; }
                .more-q-t{ font-size: 33px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; text-align: center;     padding-top: 23px;}
                .more-q-s{font-size: 24px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; text-align: center;     padding-top: 5px;}
                .ibatt{ width: 300px; margin: 0 auto;    padding-top: 24px;
                    a{display: flex; align-items: center; justify-content: center; text-decoration: none; margin-left: 39px; position: relative; width: 230px; height: 60px; background-color: #864ad0; border-radius: 20px; transition: all 0.3s;
                        &:hover{ background-color:#652CAB; }
                        span{color: white; font-size: 18px; font-family: "PFAgoraSansPro", sans-serif;  font-weight: bold; font-variant: small-caps; letter-spacing: 1.5px;}
                        &:before{content: ''; position: absolute; background-image: url('../images/man-ask.png'); background-size: cover; width: 37px; height: 37px; left: -58px; bottom: 11px;}
                    }
                }
            }
        }
    }
/* contacts */

/* services */

    .services{ overflow: hidden; background-size: cover;transition:all ease-out .2s;
        &[data-bg="1"]{background-image: url(../images/ser-bg.jpg);}
        &[data-bg="2"]{background-image: url(../images/ser-bg2.jpg);}
        &[data-bg="3"]{background-image: url(../images/ser-bg3.jpg);}
        &[data-bg="4"]{background-image: url(../images/ser-bg4.jpg);}
        &[data-bg="5"]{background-image: url(../images/ser-bg5.jpg);}
        &[data-bg="6"]{background-image: url(../images/ser-bg6.jpg);}
        .conteiner {width: 100%;}
    &.active{
        .mbox{transform: none; visibility: visible; opacity: 1; }
    }
        .mbox{max-width: 1300px; padding: 0 15px; visibility: hidden;
        transform: matrix3d(0.9, 0, 0, 0, 0, -0.50, 0.433013, -0.000433013, 0, -0.866025, -0.5, 0.0005, 0, -300.615, -900, 1.9); transform-origin: 50% 20% 100px; transition: all 0.7s ease; opacity: 0;

            &.animated{transform: none;}



            .title-text{ padding-top: 132px;
                h2{font-size: 47px; font-family: "ProximaNova", sans-serif; color: white; text-transform: uppercase; line-height: 1.2; margin: 0; font-weight: 900;  text-align: center;
                    span{color: rgb(134, 74, 208);}
                }
            }
            .top-block{
                .lister{display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; }
                .item{ display: block; text-decoration: none; margin-top: 30px;
                    .cont{margin: 0 auto; max-width: 70px; height: 45px;
                        svg{width: 100%; height: 100%; transition: all 0.3s; fill: white;
                            path{transition: all 0.3s;}
                        }
                    }
                    .after{padding-top: 13px;
                        b{display: block; text-decoration: none; height: 30px; line-height: 27px; border: 2px solid #67368f;padding: 0 10px; border-radius: 13px; font-size: 19px; font-family: "ProximaNova"; color: rgb(255, 255, 255);  font-weight: 700; font-variant: small-caps; background-color: transparent; transition: all 0.3s;
                        }

                    }
                    &.active{
                        .cont svg path{fill: #67368f; }
                    }
                    &:hover{
                        .cont svg path{fill: #67368f; }
                        .after b{ background-color: #67368f; }
                    }
                }
            }
            .bot-block-slider{overflow: hidden;}
            .bot-block-item{opacity: 0;transition: all 0.9s ease;transform-origin: 50% 20% 100px;    transform: matrix3d(0.9, 0, 0, 0, 0, -0.5, 0.43301, -0.00043, 0, -0.86603, -0.5, 0.0005, 0, -300.615, -900, 1.9);visibility: hidden;height: 0;backface-visibility: hidden;
                &.active{opacity: 1; transform: none;visibility: visible;opacity: 1;height: auto;}
                &.other{
                    .bot-block{
                        .left-side{
                            .citat{font-style:normal;}
                            .hed {margin-bottom: 20px;
                                h5{font-size: 39px;}
                            }
                        }
                        .right-side{padding-left: 50px;

                            &.margin-top{margin-top: -30px;
                                .rat{font-size: 230px;}
                            }
                            .rat{text-align: left;width: auto;display: inline-block;line-height: 0.9;}
                            .percent{display: inline-block;vertical-align: top;padding-top: 20px;padding-left: 15px;
                                &>span{ font-size: 125px;font-family:'ProximaNova', arial,sans-serif;color: white;font-weight: bold;font-variant: small-caps;/*text-shadow: -5px 0px 0px #6637a1;*/font-weight: 900;}
                                .percent_img{
                                    img{margin: 0 2px;}
                                    p{font-size: 22px;font-family:'ProximaNova', arial,sans-serif;color: white;font-weight: 900;margin: 0;padding-top: 15px;text-transform: uppercase;}
                                }
                            }
                            .some-img{margin-top: 10px;display: flex;align-items: center;
                                img{margin: 0 8px;}
                            }
                            .under{margin-top: 0px;padding-right: 15%;
                                .part img{left: -30px;}
                                .part .title{color: #864ad0;}
                            }
                            .citat-bottom{color: white;display: flex;align-items: center;padding-top: 17px;
                                img{margin-right: 5px;}
                                a{color: white;text-decoration: underline;display: inline-block;margin-left: 5px;
                                    &:hover{text-decoration: none;}
                                }
                            }
                        }
                    }
                    &:last-child{
                        .bot-block{
                            .left-side{
                                .hed {margin-bottom: 30px;
                                    h5{line-height: 1.3;}
                                }
                            }
                            .right-side{
                                .citat{font-size: 17px;font-family: "PFAgoraSansPro", sans-serif;color: #9f9f9f;font-variant: small-caps;font-weight: 500;line-height: 1.2;text-align: left;}
                                .rat{font-size: 223px;margin-top: -18px;}
                                .percent{padding-top: 0px;padding-left: 12px;}
                            }
                        }
                    }
                }
            }

            .bot-block{display: flex; align-items: stretch; justify-content: space-between; padding-top: 80px;
                .left-side{width: 50%;
                    .hed{
                        h5{text-align: right; font-size: 46px; font-family: "ProximaNova", sans-serif; color: rgb(254, 254, 254); text-transform: uppercase;line-height: 1.2; font-weight: 900; margin: 0;
                            span{color: #864ad0; }
                        }
                    }
                    .but-row{text-align: right;display: flex; align-items: center; justify-content: flex-end; padding: 33px 0;
                        .going-to{ position: relative; margin-left: 20px;
                            span{ font-size: 16px; font-family: "Roboto", sans-serif; margin-top: -3px;  color: rgb(255, 255, 255); text-decoration: underline; font-variant: small-caps;line-height: 1.2; padding-right: 35px;}
                            img{position: absolute; right: 0; top: calc(100% - 20px); }
                        }
                    }
                    .citat{ font-size: 17px; font-family: "PFAgoraSansPro", sans-serif;  color: rgb(159, 159, 159); font-style: italic; font-variant: small-caps; font-weight: 500; line-height: 1.2; text-align: right;}
                    .call{ text-align: right; padding-top: 25px;
                        .call-me{width: 137px; display: inline-block; height: 31px; border-radius: 13px; background-color: #864ad0; text-align: center; text-decoration: none; transition: all 0.3s; margin-left: 40px;
                            span{line-height:  31px;  font-size: 16px; font-family: "ProximaNova"; color: rgb(255, 255, 255); font-weight: bold;  font-variant: small-caps;}
                            &:hover{background-color: #6637a1; }
                        }
                    }
                }
                .right-side{width: 50%;
                    .rat{width: 100%; text-align: center; font-size: 283px; font-family: "Roboto", sans-serif; color: rgb(255, 255, 255); font-weight: bold; font-variant: small-caps;text-shadow: -5px 0px 0px #6637a1;}
                    .under{display: flex; align-items: center; justify-content: space-around;
                        .part{ padding-left: 35px; position: relative; text-align: left; max-width: 210px;
                            img{position: absolute; top: 0; left: 0; }
                            .title{font-size: 18px; font-family: "Roboto", sans-serif; font-weight: 500; color: rgb(255, 255, 255); font-variant: small-caps; line-height: 1.2; padding-bottom: 10px;}
                            .after{font-size: 14px; font-family: "PFAgoraSansPro", sans-serif; color: rgb(159, 159, 159); font-style: italic; font-variant: small-caps; line-height: 1.2;   text-align: left; font-weight: 500;}
                        }
                    }
                }
            }

            .mobile{display: none !important;}
        }
    }

/* services */


/* smm */

    .smm_conteiner, .tabs-block{border-bottom: 6px solid #6637a1;
        .mbox{max-width: 1280px; padding: 0 15px; margin: 0 auto;
            .top-row{ padding-top: 60px;
                .title-text{ padding-bottom: 50px;
                    h1{font-size: 47px; font-family: "ProximaNova", sans-serif;    font-variant: small-caps;   line-height: 1.2; text-align: center; color: #363636; font-weight: 900; margin: 0;               span{color: rgb(120, 75, 203);}
                    }
                }
                .after-text{ padding-bottom: 50px; max-width: 710px; margin: 0 auto; font-size: 18px; font-family: "ProximaNova", sans-serif; color: rgb(54, 54, 54);font-variant: small-caps; line-height: 1.2;  text-align: center; }
            }
            .tabs-row{
                .topest{
                    ul{ list-style: none; padding: 0; display: flex; align-items: center; justify-content: center; border-bottom: 3px solid #784ccb;
                        li{display: block; padding-bottom: 3px; padding-left: 20px; padding-right: 20px; position: relative; cursor: pointer;  font-size: 18px; font-family: "ProximaNova", sans-serif; color: rgb(54, 54, 54);  text-transform: uppercase;   line-height: 1.2; font-weight: 400;
                            &.active{color: #784bcb; font-weight: 700;
                                &:before{bottom: 0; content: ''; position: absolute; left: 0; right: 0; height: 3px; background-color: #784ccb;}
                            }
                        }
                    }
                }
                .disp{ padding-top: 65px;
                    ul{ padding: 0; list-style: none;
                        li{ display: none;
                            &.active{display: block;}
                            ul{display: flex; align-items: center; justify-content: space-between; padding: 0; list-style: none; flex-wrap: wrap;
                                li{ width: calc(50% - 10px); display: block;
                                    .item{
                                        .top-img{width: 100%; height: 180px; overflow: hidden;position: relative;
                                            img{min-width: 100%; min-height: 100%;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%) scale(1);transition:all ease-out .2s;}
                                        }
                                        .titl{ font-size: 24px; font-family: "ProximaNova";  color: rgb(54, 54, 54); font-weight: bold; line-height: 1.2; text-align: left; padding-top: 35px; padding-bottom: 25px;}
                                        .soc-line{
                                            a{display: inline-block; position: relative; font-size: 18px; font-family: "ProximaNova";  color: #784bcb; font-weight: 400;  text-align: left; margin-left: 30px; padding-left: 0px;
                                                &:before{content: ''; position: absolute; bottom: 0;}
                                             }
                                             .inst:before{background-image: url(../images/inst.png); width: 20px; height: 20px; left: -30px;}
                                             .vk:before{background-image: url(../images/vk.png); width: 20px; height: 12px; left: -25px; bottom: 2px;}
                                             .fb:before{background-image: url(../images/fb.png); width: 12px; height: 20px; left: -20px;}
                                        }
                                        .table{ padding-top: 25px; padding-bottom: 55px;
                                            ul{ display: block;
                                                li{ display: block; font-size: 18px; padding-bottom: 10px;}
                                            }
                                        }
                                        &:hover{
                                            .top-img{
                                                img{transform: translate(-50%, -50%) scale(1.2);}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
            .button-row{ padding: 90px 0;
                .more{ display: flex; align-items: center; justify-content: center; width: 270px; height: 57px; border: 2px solid #5400c1; border-radius: 25px; margin: 0 auto; text-decoration: none; transition: all 0.3s;
                    span{ font-size: 18px; font-family: "ProximaNova", sans-serif;  color: rgb(91, 49, 141); text-transform: uppercase; line-height: 1; transition: all 0.3s;}

                    &:hover{background-color: #5400c1;
                        span{color: white;}
                    }
                }
            }
        }
    }

/* smm */

/* clients-page */

    .clients-page{
        .top-row{border-bottom: 4px solid #784ccb; }
        .mbox .tabs-row .disp ul li ul.clients li {width: 25%; padding-bottom: 35px;
            .item{
                a{display: block; text-align: ccenter; filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); filter: gray; -webkit-filter: grayscale(100%); transition: all 0.3s;
                    img{margin:  0 auto; display: block;}
                    &:hover{filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");-webkit-filter: grayscale(0%);}
                }
            }
        }
        .mbox .top-row .title-text {padding-bottom: 34px;}
        .mbox .top-row .after-text {padding-bottom: 79px;}
        .mbox .tabs-row .disp { padding-top: 34px;}
        .mbox .button-row {padding: 0 0 23px;}
    }

/* clients-page */


/* kontektsna reclama */

.mb{max-width: 1630px; padding: 0 10px; margin: 0 auto;
    .top-part{width: 100%;
        .l-side{float: left; width: 50%;
            .title{font-size: 39px; font-family: "ProximaNova"; color: rgb(134, 74, 208);  text-transform: uppercase; line-height: 1.2; font-weight: 300; text-align: center; padding-top: 50px; padding-bottom: 17px;
                span{ font-weight: 700;}
            }
            .after-text{font-size: 26px; font-family: "ProximaNova"; color: #7a44bd;text-transform: uppercase; line-height: 1.2; text-align: center; font-weight: 900; padding-bottom: 32px;}
            .chooser{ position: relative; width: 100%; display: flex; align-items: center; justify-content: center;
                a{ display: inline-block; text-decoration: none; border-bottom: 3px dotted #864ad0; font-size: 24px; font-weight: 300; font-family: "Roboto"; color: rgb(134, 74, 208);  text-transform: uppercase; margin-right: 50px; }
                a:last-child{margin-right: 0px; margin-left: 50px;}
                &:before{content: ''; position: absolute;  left: calc(50% - 3px/2); top: 0; bottom: 0; background-color: #864ad0; width: 3px;}
            }
            .texter{font-size: 20px; font-family: "Roboto"; color: rgb(127, 127, 127);  line-height: 1.2;  text-align: left; font-weight: 300; padding-top: 56px;}
            .diagram{ padding-top: 57px;
                .item{float: left; width: 33%; text-align: center;
                    .convert-svg{max-width: 185px; margin: 0 auto; position: relative;
                        svg{width: 100%; height: auto;}
                        .st0{fill: transparent; stroke:#eeeeef; stroke-width:6px; }
                        .st1{fill: transparent; stroke:#864ad0;stroke-width:6px; stroke-dasharray: 278; stroke-dashoffset: 139;}
                        .text-percent{width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;
                            span{font-size: 39px; font-weight: 500; font-family: "Roboto"; color: rgb(18, 18, 18);}
                        }
                    }
                    .after-text-svg{ font-size: 20px; font-weight: 500; font-family: "Roboto"; color: rgb(18, 18, 18); padding-top: 42px; }
                }
            }
        }
        .r-side{float: left; width: 50%; position: relative;
            .pico{position: absolute; right: 20px; bottom: 50px; }
        }
    }
    .mid-part{ width: 100%;
        .title-row{ font-size: 39px; font-family: "ProximaNova"; color: rgb(134, 74, 208);   text-transform: uppercase; font-weight: 300; padding-bottom: 96px; padding-top: 67px;
            span{font-weight: 700;}
        }
        .items-row{ display: flex; justify-content: space-between; align-items: stretch;
            .item{ width: 30%;  position: relative; min-height: 285px;
                &:before{content: ''; position: absolute; bottom: 0; left: 0; width: 104px; height: 3px; background-color: #864ad0;}
                .head{ padding-bottom: 45px; position: relative; padding-left: 80px;
                    .num{position: absolute; top: 0; left: 0; font-size: 42px; font-family: "Roboto"; color: rgb(204, 204, 204); line-height: 1;}
                    .top{font-size: 15px; font-family: "Roboto"; font-weight: 500; color: rgb(134, 74, 208); text-transform: uppercase;}
                    .desk{font-size: 21px; font-family: "Roboto"; color: rgb(18, 18, 18);   line-height: 1.2; text-transform: uppercase; padding-top: 10px;}
                }
                .after{font-size: 19px; font-family: "Roboto"; color: rgb(124, 124, 124);   line-height: 1.2; text-align: left; font-weight: 300;}
            }
        }
    }
    .bottom-part{ padding-top: 87px; padding-bottom: 95px;
        .title-hidd{display: none; font-size: 39px; font-family: "ProximaNova"; color: rgb(134, 74, 208);   text-transform: uppercase; font-weight: 300;
            span{font-weight: 700;}
        }

        .left{ width: 575px; float: left;  padding-top: 49px;
            .cio{padding-top: 5px;
                p{margin-top: -16px;}
            }
        }
        .center{width: calc(100% - 575px*2); float: left; text-align: center; position: relative;
            &:before{content: ''; position: absolute; top: 50%; left: 0; width: calc(50% - 204px/2);height: 3px; background-color:#864ad0;}
            &:after{content: ''; position: absolute; top: 50%; top: 50%; right: 0; width: calc(50% - 204px/2);height: 3px; background-color:#864ad0; }
        }
        .right{ width: 575px;  float: right; position: relative;
            .cio{float: right; padding-top: 10px;
                p{margin-top: -45px;}
            }
            .pio{ margin-right: 235px;  margin-left: 0px; text-align: right; padding-top: 46px; }
        }


        .cio{ text-align: center; width: 215px; float: left;
            p{margin: 0; font-size: 119px; font-family: "Roboto"; color: rgba(124, 124, 124, 0.302); line-height: 1.2; font-weight: 900;}
        }
        .pio{font-size: 19px; font-family: "Roboto"; font-weight: 300;  color: rgb(124, 124, 124);  line-height: 1.2;  text-align: left; margin-left: 235px;}
    }

    .section-animate{
        .animate-delay{opacity: 0;transition:all ease-out .5s;
            &.animated{opacity: 1;}
        }
    }
}
