/* out-team */

    .our-team{background-image:url(../images/out-team-bg.jpg);background-size: cover;

        .mbox{max-width: 1306px;}

        .conteiner{width: 100%;padding-top: 0px;padding-bottom: 20px;}

        .our-team-wrap{display: flex;justify-content: space-between;

            .left-column-text-wrap{margin-bottom: 67px;opacity: 0;transition:opacity 400ms ease 200ms;}

            .title-small{font-family: 'Roboto', sans-serif;color:#fff;font-size: 19px;font-weight: 300;margin-bottom: 30px;margin-left: -7px;letter-spacing: 0.9px;}
            .title{font-size: 60px;font-weight: 900;line-height: 0.95;text-transform: uppercase;color:#fff;margin: 0 0 65px 0;letter-spacing: 2.6px;
                span{color:#864ad0;}
            }
            .descript{font-size: 19px;color:#fff;font-family: 'PFAgoraSansPro', sans-serif;font-weight: 100;font-style:italic;max-width: 280px;text-shadow:0 0 0 rgba(255,255,255, .25);letter-spacing:-0.1px;}

            .descript-mobile-wrap{display: none;width: 50%;justify-content: flex-end;align-items: center;margin-top: -90px;}

            .left-column{padding-top: 138px;}

            .slider-block{
                .slider-fotos{position: absolute;top:0;left:420px;width: 526px;opacity: 0;transition:opacity 400ms ease 400ms;}

                .slider-background{position: absolute;width: 526px;height: 526px;bottom:45px;left:0;
                    .slider-background-border{position: absolute;width: 100%;height: 100%;background-image: url(../images/slider-background-border-img.png);}
                    .slider-background-fon{-webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);/*-webkit-clip-path: url("#clip-svg");clip-path: url("#clip-svg");*/position: absolute;width: 495px;height: 496px;bottom:15px;left:16px;overflow: hidden;
                        .slider-background-fon-main{width: 552px;height: 1033px;position: absolute;top:0;left:0;
                            img{position: relative;left:calc(50% - 276px);top:calc(50% - 516px);/*animation-name:ourTeamAnim;animation-duration:10s;animation-iteration-count: infinite;animation-timing-function:linear;*/}
                        }
                    }
                }


                .slider-fotos-wrap{margin-bottom: 16px;position: relative;
                    .slider-foto{padding-bottom: 45px;
                        .slider-foto-item{
                            img{margin: 0 auto;position:relative;
                                &.man-foto{left:-10px;}
                                &.girl-foto{bottom:0;max-width: 390px;margin-top:50px;}
                            }
                        }
                        .slider-socials{padding-top: 20px;display: flex;position: absolute;width: 100%;align-items: center;justify-content: center;
                            .slider-social-item{padding:0 5px;
                                a{
                                    &:hover{
                                        img{opacity: 1;}
                                    }
                                    img{width: 20px;height: 20px;opacity: 0.5;transition:opacity 300ms ease;}
                                }
                            }
                        }
                    }
                }

                .slider-item-descript{position: relative;opacity: 0;transition:opacity 400ms ease 600ms;

                    &:before, &:after{content:'';position: absolute;background-color: #fff;}
                    &:before{width: 233px;height: 1px;left:100%;top:173px;}
                    &:after{height: 65px;width: 1px;left:calc(100% + 232px);top:calc(173px - 65px);}

                    .slider-item-descript-wrap{position: absolute;top:0;left:0;transition:absolute;width: 372px;min-height: 254px;padding:25px 17px 40px 29px;background-color: rgba(0, 0, 0, .84);font-family: 'PFAgoraSansPro', sans-serif;font-weight: 100;font-style: italic;z-index:0;opacity:0;transition:opacity 300ms ease;
                        &.active{opacity: 1;z-index: 1;position: relative;}

                        .slider-item-descript-name{font-size: 18px;color:#fff;text-align: center;margin-bottom: 6px;}
                        .slider-item-descript-position{color:#864ad0;font-size: 13px;text-align: center;margin-bottom: 11px;}
                        .slider-item-descript-text{font-size: 15px;color: #fff;line-height: 1.75;}
                        .slider-item-descript-login{position:absolute;color:#fff;bottom:24px;right: 32px;letter-spacing:1.4px;}
                    }
                }

            }
            .right-column{width: 300px;display: flex;align-items: center;position: absolute;top:calc(50% - 224px);right: calc(100% - 1240px);opacity: 0;transition:opacity 400ms ease 500ms;

                .name-slider-wrap{position: relative;top:28px;
                    .name-slider{margin-bottom: 0;color:#fff;font-size: 16px;
                        .slick-list{height: 375px!important;}
                        .slick-track{top:45px;}
                        .name-slider-item{max-width: 300px;width: 100%;padding: 10px 0;opacity: .3;font-family: "Roboto", sans-serif;display:flex;flex-direction:column;align-items: center;justify-content: flex-start;transform:scale(0.66);transition:all 300ms ease;
                            &.first-level{opacity: 1;transform:scale(1);
                                .name-slider-text{
                                    &:before{opacity: 1;}
                                }
                                .name-slider-person{text-decoration: underline;}
                                .name-slider-descript{opacity: .6;}
                            }
                            &.second-level{opacity: 1;transform:scale(1);}
                            &.third-level{opacity: .75;transform:scale(.75);}
                            &.fourth-level{opacity: .5;}

                            .name-slider-text{text-align: center;position: relative;
                                &:before{content:'';display: block;width: 30px;height: 1px;background-color: #fff;position:absolute;right: calc(100% + 10px);top:50%;opacity: 0;transition:opacity 300ms ease;}
                            }
                            .name-slider-person{cursor: pointer;transition:all 300ms ease;}
                            .name-slider-descript{cursor: pointer;opacity: 0; transition:all 300ms ease;}
                        }
                    }
                }

            }

        }

        &.fp-completely{
            .our-team-wrap{
                .left-column-text-wrap{opacity: 1;}
                .slider-block{
                    .slider-fotos{opacity:1;}
                    .slider-item-descript{opacity: 1;}
                }
                .right-column{opacity: 1;}
            }
        }

    }

/* /out-team */

/* inside-graph-design */

    .inside-graph-design{

        .inside-title{margin-bottom:19px;margin-top: -6px;}

        .inside-graph-text-wrap{font-size: 20px;font-weight: 300;color:#7f7f7f;line-height: 1.25;
            &.graph-inside-wrap-top{margin-bottom: 97px;}

            img{display: block;}

            h6{font-family: 'Roboto', sans-serif;color:#000;font-size: 18px;font-weight: 900;margin: 0 0 30px 0;}

            hr{height: 5px;max-width: 160px;width: 100%;background-color: #864ad0;margin-bottom: 78px;margin-left: 0;}

            p{margin: 0 0 25px 0;
                &:last-child{margin: 0;}
            }

        }

        .graph-design-row{display: flex;align-items: flex-start;justify-content: space-between;margin-bottom: 26px;
            &:first-child{
                .inside-title{padding-top: 50px;margin-top: 0;margin-bottom: 24px;}
            }
            &:last-child{margin-bottom: 90px;
                .graph-design-img{overflow: hidden;position: relative;height: 706px;
                    img{position: absolute;max-width: none;min-width: 100%;min-height: 100%;left:50%;top:50%;transform:translate(-50%, -50%);}
                }
            }

            .graph-design-text{width: calc(50% - 50px);
                &.animate-it{transform: translateX(100%);opacity: 0;transition:all ease-out .4s;
                    &.animated{transform: translateX(0%) !important;opacity: 1 !important;}
                }
            }

            .graph-design-img{width: calc(50% + 12px);position: relative;
                &.animate-it{transform: translateX(-100%);opacity: 0;transition:all ease-out .4s;
                    &.animated{transform: translateX(0%) !important;opacity: 1 !important;}
                }
                .graph-design-img-wrap{height:706px;position: relative;overflow: hidden;
                    img{position: absolute;max-width:none;min-width: 100%;min-height: 100%;left: 50%;top:50%;transform:translate(-50%, -50%);}
                }

                .graph-design-form{position: absolute;right: 20px;bottom:20px;}

            }

        }

        .graph-inside-center{padding:35px 0 31px 0;display: flex;justify-content: space-between;align-items: flex-start;flex-direction:row-reverse;
            img{max-width: calc(100% - 160px);margin-top: -25px;}
            ul{padding:0;margin:0;list-style:none;
                li{font-family: 'Roboto', sans-serif;font-size: 20px;color:#7f7f7f;font-weight: 700;margin-bottom: 4px;
                    &:before{content: '-';}
                    &:last-child{margin-bottom: 0;}
                }
            }
        }
    }

/* /inside-graph-design */

/* inside-smm */

    .inside-smm{

        .smm-title{text-align: center;font-size: 31px;color:#7a44bd;text-transform: uppercase;margin-bottom: 46px;
            span{font-weight: 900;}
        }

        .inside-smm-row{display: flex;justify-content: space-between;align-items: flex-start;
            .inside-smm-row-left, .inside-smm-row-right{width: 50%;position: relative;}

            .inside-smm-row-right{
                .inside-smm-img{width: 100%;height: 706px;position: relative;z-index: 0;overflow: hidden;
                    img{position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);max-width: none;min-width: 100%;min-height: 100%;}
                }
                .inside-smm-form{position: absolute;right: 17px;bottom:23px;}
            }

        }

        .inside-smm-text{font-size: 20px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#7f7f7f;line-height: 1.25;
            p{margin: 0 0 10px 0;
                &:last-child{margin: 0;}
            }
        }

        .inside-smm-top{margin-bottom: 71px;
            .inside-smm-row-left{
                .inside-title{padding-top: 83px;margin-bottom: 30px;}
                .inside-price{margin-bottom: 38px;}
                .inside-links{margin-bottom: 39px;}
            }

            .inside-smm-top-items{padding-top: 40px;
                ul{display: flex;justify-content: space-between;align-items: flex-start;flex-wrap:wrap;padding:0 40px 0 0;margin:0;list-style:none;
                    li{margin-bottom: 48px;width: 50%;padding-left: 8.5%;font-family: 'Roboto', sans-serif;
                        &:nth-last-child(1), &:nth-last-child(2){margin-bottom: 0;}

                        h6{font-size: 14px;color:#000;margin:0 0 20px 0;text-transform: uppercase;}

                        p{font-weight: 300;color:#7c7c7c;font-size: 18px;line-height: 1.25;margin: 0;}

                    }
                }
            }

        }

        .inside-smm-middle{display: flex;justify-content: space-between;align-items: flex-start;margin-bottom: 95px;
            .inside-smm-middle-item-wrap{padding-bottom: 47px;position: relative;min-width: 105px;
                &:after{content:'';display: block;position: absolute;left:0;bottom:0;width: 105px;height: 3px;background-color: #864ad0;}
            }
            .inside-smm-middle-img{margin-bottom: 35px;height: 65px;}
            .inside-smm-middle-value{font-size: 54px;color:#333333;font-weight: 900;margin-bottom: 14px;    min-width: 250px;}
            .inside-smm-middle-text{font-size: 21px;color:#838383;text-transform: uppercase;}
        }

        .inside-smm-bottom{margin-bottom: 90px;background-color: #864ad0;

            .inside-smm-row-left{padding: 80px 16px 0 5.2%;color:#fff;

                .inside-smm-statistic-title{margin-bottom: 60px;
                    p{text-transform: uppercase;font-weight: 300;font-size: 21px;margin:0px 0px 22px 0px;
                        b{font-size: 20px;font-weight: 700;color:#2e2f33;}
                        &:last-child{margin-bottom: 0;}
                    }
                }

                .inside-smm-progress{max-width: 640px;width: 100%;margin-bottom: 47px;
                    .inside-smm-progress-top{display: flex;justify-content: space-between;align-items: center;font-size: 16px;font-weight: 300;margin-bottom: 6px;}
                    .inside-smm-progress-bottom{width: 100%;height: 5px;background-color: #1a1c28;position: relative;
                        span{position: absolute;left:0;top:0;height: 100%;width: 0;background-color: #fff;transition:all ease 1.2s;}
                    }
                }

            }

            .inside-smm-row-right{
                .inside-smm-img{height: 467px;}
            }

        }

        .inside-smm-bottom-text{margin-bottom: 72px;
            .inside-smm-row-left{padding-right: 10px;}
            .inside-smm-row-right{padding-left: 10px;}
        }

    }

/* /inside-smm */

/* inside-title */

    .inside-title{text-align: center;font-size: 39px;text-transform: uppercase;margin: 0;font-weight: 400;color:#7a44bd;
        span{
            &:first-child{font-weight: 300;}
            &:last-child{font-weight: 700;}
        }
    }

    .inside-price{text-align: center;margin-bottom: 35px;font-weight: 900;font-size: 26px;text-transform: uppercase;color:#7a44bd;}

    .inside-links{display: flex;align-items: center;justify-content: center;position: relative;margin-bottom: 50px;
        &:before{content:'';display: block;width: 3px;height: 80%;background-color: #864ad0;position: absolute;left:50%;top:6px;margin-left:-12px;}
        a{display: block;position:relative;margin: 0 45px;text-transform: uppercase;font-size: 24px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#864ad0;text-decoration: none;padding-bottom: 7px;letter-spacing: -0.1px;
            &:after{content:'';display: block;position: absolute;bottom:0;left:0;width: 100%;height: 4px;background-image:url(../images/purple-dot.png);transition:all 300ms ease;}
            &:hover{
                &:after{transform:scale(0);}
            }
        }
    }

    .inside-mobile{display: none;}

/* /inside-title */

/* slide-form */

    .slide-form{position: relative;

        .slide-form-wrap{position: absolute;right: 0;bottom: calc(100% + 5px);width: 306px;background-color: #f2f2f2;padding:37px 35px 22px 35px;display: none;
            .slide-form-title{font-size: 14px;color:#7a44bd;margin-bottom: 13px;text-transform: uppercase;text-align: center;}
            p{text-align: center;font-size: 11px;font-weight: 300;line-height: 1.25;margin: 0 0 24px 0;}
        }

        .slide-form-main,.slide-form-main-popup{
            .form_row{margin-bottom: 7px;
                &:last-child{margin-bottom: 0;}
                &.form_submit{padding-top: 45px;
                    .button{height: 36px;min-width: 87px;display: flex;margin: 0 auto;justify-content: center;align-items: center;border:none;background:none;background-color: #363636;font-weight: 300;font-size: 11px;text-transform: uppercase;border-radius:3px;color:#fff;transition:all 300ms ease;
                        &:hover{background-color: #7a44bd;}
                    }
                }
            }
            input, textarea{background-color: #fff;border:none;height: 35px;padding: 0 12px;border-radius: 3px;box-shadow:0 2px 3px 0 rgba(0, 0, 0, .05);width: 100%;transition:all 300ms ease;
                &::-webkit-input-placeholder {font-family: 'ProximaNova', sans-serif;font-size: 11px;color:rgba(48, 48, 48, .27);transition:all 300ms ease;}
                &:-moz-placeholder {font-family: 'ProximaNova', sans-serif;font-size: 11px;color:rgba(48, 48, 48, .27);opacity:1;transition:all 300ms ease;}
                &::-moz-placeholder {font-family: 'ProximaNova', sans-serif;font-size: 11px;color:rgba(48, 48, 48, .27);opacity:1;transition:all 300ms ease;}
                &:-ms-input-placeholder {font-family: 'ProximaNova', sans-serif;font-size: 11px;color:rgba(48, 48, 48, .27);transition:all 300ms ease;}
                &.error{box-shadow:0 2px 3px 0 rgba(255, 0, 0, .35);
                    &::-webkit-input-placeholder {color:#ff0000;}
                    &:-moz-placeholder {color:#ff0000;}
                    &::-moz-placeholder {color:#ff0000;}
                    &:-ms-input-placeholder {color:#ff0000;}
                    &+.errorText{display: none!important;}
                }
            }
            textarea{resize:vertical;padding:10px 12px;min-height: 100px;max-height: 200px;
                &::-webkit-input-placeholder {line-height: 18px;}
                &:-moz-placeholder {line-height: 18px;}
                &::-moz-placeholder {line-height: 18px;}
                &:-ms-input-placeholder {line-height: 18px;}
            }
        }

        .slide-form-letter{position:relative;width: 32px;height: 32px;background-color: rgba(0, 0, 0, .33);cursor:pointer;transition:all 300ms ease;
            span{position: absolute;left:50%;top:50%;transform:translate(-50%, -50%);background-image: url(../images/mail-icon-sprite.png);width: 22px;height: 16px;background-size:auto 100%;background-position: 0 0;z-index: 0;transition:all 300ms ease;
                &.mail-icon-hover{background-position: -22px 0;opacity:0;z-index: 1;width:21px;}
            }
            &:hover, &.active{background-color: rgba(0, 0, 0, .66);
               span{opacity: 0;
                    &.mail-icon-hover{opacity: 1;}
               }
            }
        }

    }

/* /slide-form */

/* animation */

    @keyframes ourTeamAnim{
        0%{top:0;left:-5%;}

        25%{top:-25%;left:-10%;}

        50%{top:-50%;left:-5%;}

        75%{top:-25%;left:0;}

        100%{top:0;left:-5%;}
    }

/* /animation */