/* out-team */

    .our-team{background-image:url(../images/out-team-bg.jpg);background-size: cover;

        .mbox{max-width: 1306px;}

        .conteiner{width: 100%;padding-top: 112px;}

        .our-team-wrap{display: flex;justify-content: space-between;

            .left-column-text-wrap{margin-bottom: 67px;}

            .title-small{font-family: 'Roboto', sans-serif;color:#fff;font-size: 19px;font-weight: 300;margin-bottom: 30px;margin-left: -7px;letter-spacing: 0.9px;}
            .title{font-size: 60px;font-weight: 900;line-height: 0.95;text-transform: uppercase;color:#fff;margin: 0 0 65px 0;letter-spacing: 2.6px;
                span{color:#864ad0;}
            }
            .descript{font-size: 19px;color:#4c4947;font-family: 'PFAgoraSansPro', sans-serif;font-weight: 100;font-style:italic;max-width: 280px;text-shadow:0 0 0 rgba(255,255,255, .25);letter-spacing:-0.1px;}

            .left-column{padding-top: 138px;}

            .slider-block{
                .slider-fotos{position: absolute;top:0;left:420px;width: 526px;}

                .slider-background{position: absolute;width: 526px;height: 526px;bottom:45px;left:0;
                    .slider-background-border{position: absolute;width: 100%;height: 100%;background-image: url(../images/slider-background-border-img.png);}
                    .slider-background-fon{background-image:url(../images/slider-background-fon-img.png);position: absolute;width: 495px;height: 496px;bottom:15px;left:16px;}
                }


                .slider-fotos-wrap{margin-bottom: 16px;position: relative;
                    .slider-foto{padding-bottom: 45px;
                        .slider-foto-item{
                            img{margin: 0 auto;}
                        }
                        .slider-socials{padding-top: 20px;display: flex;position: absolute;width: 100%;align-items: center;justify-content: center;
                            .slider-social-item{padding:0 5px;
                                a{
                                    &:hover{
                                        img{opacity: 1;}
                                    }
                                    img{width: 20px;height: 20px;opacity: 0.5;transition:opacity 300ms ease;}
                                }
                            }
                        }
                    }
                }

                .slider-item-descript{position: relative;

                    &:before, &:after{content:'';position: absolute;background-color: #fff;}
                    &:before{width: 233px;height: 1px;left:100%;top:221px;}
                    &:after{height: 97px;width: 1px;left:calc(100% + 232px);top:calc(221px - 97px);}

                    .slider-item-descript-wrap{position: absolute;top:0;left:0;transition:absolute;width: 372px;min-height: 254px;padding:25px 17px 40px 29px;background-color: rgba(0, 0, 0, .84);font-family: 'PFAgoraSansPro', sans-serif;font-weight: 100;font-style: italic;z-index:0;opacity:0;transition:opacity 300ms ease;
                        &.active{opacity: 1;z-index: 1;position: relative;}

                        .slider-item-descript-name{font-size: 18px;color:#fff;text-align: center;margin-bottom: 6px;}
                        .slider-item-descript-position{color:#864ad0;font-size: 13px;text-align: center;margin-bottom: 11px;}
                        .slider-item-descript-text{font-size: 12px;color: #fff;line-height: 1.75;}
                        .slider-item-descript-login{position:absolute;color:#fff;bottom:24px;right: 32px;letter-spacing:1.4px;}
                    }
                }

            }
            .right-column{width: calc(100% - 986px);display: flex;align-items: center;

                .name-slider-wrap{
                    .name-slider{margin-bottom: 0;color:#fff;font-size: 11px;
                        .slick-list{height: 300px!important;}
                        .name-slider-item{max-width: 300px;padding: 10px 0;opacity: .3;font-family: "Roboto", sans-serif;transition:all 300ms ease;
                            &.slick-current{font-size: 16px;opacity: 1;
                                .name-slider-person{text-decoration: underline;}
                                .name-slider-descript{opacity: .6;}
                            }
                            .name-slider-text{display:flex;flex-direction:column;align-items: center;justify-content: flex-start;}
                            .name-slider-person{transition:all 300ms ease;}
                            .name-slider-descript{opacity: 0; transition:all 300ms ease;}
                        }
                    }
                }

            }

        }

    }

/* /out-team */