/*main section*/
$pup:#864ad0;
.main{background-size: cover;background-position: center center;background-repeat: no-repeat;text-align: center;
    p{margin:0;}
    &.show_animate{
        .opacity_text{
            b,span{animation-name: fadeText;}
        }
        .sub_text{opacity: 1;transform: translateY(0);}
        .main_text{
            h1{opacity: 1;transform: translateY(0);}
        }
        .sub_description{opacity: 1;transform: translateY(0);}
        .main_button{opacity: 1;transform: translateY(0);}
        .scroll-down{opacity: 1;transform: translateY(0);}
    }
    .main-wrap{padding-bottom: 70px;}
    .fp-tableCell{align-items: flex-start;}
    .opacity_text{font-family: 'Roboto';font-size: 48px;color: rgba(255,255,255, .05);font-weight: 700;
        b{font-weight: 900;font-size: 204px;display: block;letter-spacing: 0.1em;opacity: 0;animation-duration: 2s;animation-fill-mode: forwards;}
        span{letter-spacing: 1.3em;display:block;margin-top: -45px;opacity: 0;animation-duration: 2s;animation-delay: 1.5s;animation-fill-mode: forwards;}
        &.active{}
    }
    .sub_text{font-size: 21px;color: white;text-transform: uppercase;padding-top: 60px;position: relative;margin-bottom: 58px;transition:all ease-out .7s 1s;opacity: 0;transform: translateY(10%);
        &:after{content: '';position: absolute;bottom: -24px;background-color: #fff;transform: translateX(-50%);height: 3px;width: 160px;}
    }
    .main_text{color: white;
        h1{margin: 0;font-size: 88px;font-family: 'ProximaNova';font-weight: 800;transition:all ease-out .7s 1.2s;opacity: 0;transform: translateY(10%);
            span{color: $pup;}
            b{font-size: 165px;display: block;margin-top: 9px;font-weight: 900;}
        }
    }
    .sub_description{max-width: 715px;margin:0 auto;color: white;font-size: 20px;line-height: 1.15;margin-bottom: 23px;transition:all ease-out .7s 1.4s;opacity: 0;transform: translateY(10%);}
    .main_button{max-width: 371px;width: 100%;margin:0 auto;display: flex;align-items:center;justify-content:space-between;transition:all ease-out .7s 1.6s;opacity: 0;transform: translateY(10%);
        .icon-video{border-left: 17px solid white;border-top: 10px solid transparent;border-bottom: 10px solid transparent;margin-right: 10px;}
        .icon-prezentation{width: 20px;height: 18px;background:transparent url('../images/icon-prezentation.png') center center no-repeat;margin-right: 7px;}
    }
    .scroll-down{height: 77px;width: 26px;position: absolute;top: calc(100% - 30px);left: 50%;transform: translate(-50%, 0);cursor: pointer;transition:all ease-out .7s 1.8s;opacity: 0;transform: translateY(10%);
        &:hover{transform: translate(-50%, 0) scale(1.05);}
    }
    @keyframes fadeText {
        0% {transform:scale(1.5);opacity: 0;text-shadow: 0px 0px 31px rgba(255, 255, 255, 0.06);}
        100% {transform:scale(1);opacity: 1;text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);}
    }
}

/*button purple*/
.button-purple{width: 172px;height: 43px;background-color: $pup;color: white;text-decoration: none;display: flex;align-items:center;justify-content:center;border-radius: 23px;transition:all ease .2s;
    span{font-weight: bold;font-size: 15px;}
    &:hover{background-color: #9961DE;}
    &:active{background-color: #5F2BA0;}
}

/*header*/
.header{position: fixed;display: block;width: 100%;z-index: 9;color: #fff;left: 0;top: 0;padding-top: 45px;
    &.header-inside{background-color: #000;position: relative;padding-top: 42px;padding-bottom: 19px;

    }
    .mbox{max-width: 1550px;}
    .header-wrap{display: flex;align-items:center;justify-content:space-between;}
    .header-nav{margin-bottom: -17px;
        ol{list-style-type: none;margin:0;padding:0;display: flex;}
        li{margin:0 28px;
            &.active,&:hover{
                a{color: $pup;}
            }
        }
        a{text-decoration: none;font-size: 19px;font-family: 'Roboto';font-weight: bold;position: relative;color: white;transition:all ease-out .2s;
            &:after{position: absolute;content: attr(data-count);color: rgba(255,255,255,.3);font-family: "Roboto";font-weight: 300;font-size: 14px;left: 0;top: -26px;}
        }
    }
    .header-getcall{text-align: center;position: relative;font-family: 'Roboto';
        a{text-decoration: none;}
        .telefone-link-wrap{margin-bottom: 8px;
            a{color: $pup;font-size: 13px;position: relative;
                &:hover{
                    &:after{opacity: 0;}
                }
                &:after{content: '';border-bottom: 1px dotted #fff;position: absolute;bottom: -1px;left: 0;width: 100%;height: 1px;transition:all ease .2s;}
            }
        }
        .telefone-number{
            a{color: white;font-size: 19px;}
        }
        .telefone-number-button{
            &:after{width: 2px;content: '';height: 39px;background-color: $pup;position: absolute;left: 50%;transform: translateX(-50%); bottom: -42px;border-radius: 10px;}
            a{font-size: 12px;transform: translate(-50%,0);bottom: -93px;position: absolute;left: 50%;
                span{font-weight: normal;font-size: 12px;margin-top: 3px;}
            }
        }
    }

}

// footer
.footer{position: fixed;display: block;width: 100%;z-index: 9;color: #fff;left: 0;bottom: 30px;transition:bottom ease-out .2s;
    &.top{bottom:90px; }
    .soc-button{
        ul{padding:0;margin: 0;display: flex;list-style-type: none;}
        li{margin:0 15px;
            &:hover{
                img{opacity: .6;}
            }
        }
        a{}
        img{width: 20px;height: 20px;opacity: .3;transition:all ease .2s;}
    }
}

// portfolio
.portfolio{
    &.active.fp-completely{
        .portfolio-wrap{
            .item{transform: translate3d(0, 0, 0);opacity: 1;}
        }
    }
    .portfolio-mobile-title{display: none;}
    .portfolio-mobile-logo{display: none;}
    .conteiner{width: 100%;height: 100%;}
    .portfolio-wrap{display: flex;width: 100%;max-width: 1395px;margin: 0 auto;padding: 40px 20px;height: 100%;
        .item{width: 33.33%;position: relative;overflow: hidden;opacity: 0;transform: translate3d(50%, 0, 0);transition:opacity ease-in-out .3s,transform ease-in-out .4s;
            a{color: white;text-decoration: none;}
            &:hover{
                .portfolio-img img{transform: scale(1.1);}
                .portfolio-text{transform: translate3d(0, -60%, 0) rotate(90deg);}
            }
            .portfolio-img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);
                &:after{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0,0,0, .71);}
                img{max-width: none;transition:all ease-in-out .2s;}
            }
            .portfolio-text{position: absolute;top: 45%;transform: translate3d(0,-35%,0);left: 50px;transition:transform ease-in-out .3s;backface-visibility: hidden;
                p{margin: 0;}
                .portfolio-subtitle{font-family: "Roboto";font-weight: bold;font-size: 21px;display: block;margin-bottom: 30px;}
                .portfolio-title{font-size: 60px;position: relative;margin-bottom: 60px;display: inline-block;
                    &:after{content: '';position: absolute;width: 104px;height: 3px;background-color: $pup;left: 0px;top: calc(100% + 26px);}
                }
                .portfolio-minitext{font-family: "Roboto";font-weight: 300;font-size: 12px;
                    p{margin-bottom: 10px;}
                }
            }
            &.item-1{transition-delay:0s;
                .portfolio-subtitle b{color: $pup;}
                .portfolio-title{font-weight: 900;}
            }
            &.item-2{transition-delay:.2s;
                .portfolio-subtitle b{color: #df0000;}
                .portfolio-title{font-weight: 700;
                    &:after{background-color: #df0000;}
                }
            }
            &.item-3{transition-delay:.4s;
                .portfolio-subtitle b{color: #d7df00;}
                .portfolio-title{font-family: "Roboto";font-weight: bold;
                    &:after{background-color: #d7df00;}
                }
            }
        }
    }
}


// portfolio-inside
.portfolio-inside{
    &.tabs-block .mbox .tabs-row .disp ul li ul li{width: 50%;}
    .disp{
        .item{overflow: hidden;position: relative;
            &:after{background-color: rgba(0,0,0, .65);position: absolute;top: 0;left: 0;right: 0;bottom: 0;content: '';z-index: 0;transition:all ease-out .2s;opacity: 0;}
            &:hover{
                &:after{opacity: 1;}
                .item-center{transform: translate(-50%, -50%) scale(1);opacity: 1;}
                .item-text{transform: translateX(0);opacity: 1;}
            }
            .item-img{height: 455px;position: relative;
                img{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);min-width: 100%;min-height: 100%;max-width: none;object-fit:contain;}
            }
            .item-center{position: absolute;top: 42%;left: 50%;transform: translate(-50%, -50%) scale(.9);text-align: center;opacity: 0;transition:opacity ease-out .3s,transform ease-out .5s;z-index: 2;backface-visibility: hidden;

                .item-center-img{margin-bottom: 19px;}
            }
            .item-center-button{
                &:hover{
                    a{border-color: $pup;background-color: $pup;}
                }
                a{display: flex;text-align: center;width: 140px;height: 40px;text-decoration: none;color: white;font-family: "Roboto";font-weight: 400;font-size: 12px;margin: 0 auto;border:2px solid white;border-radius: 20px;justify-content: center;align-items: center;transition:all ease-out .2s;
                    span{width: 100%;margin-top: 3px;}
                }
            }
            .item-text{position: absolute;bottom: 40px;left: 40px;color: white;padding-right: 10px;padding-bottom: 10px;transition:opacity ease-out .2s,transform ease-out .3s;z-index: 2;opacity: 0;transform: translateX(-100%);backface-visibility: hidden;
                b{display: block;font-size: 30px;font-weight: bold;font-family: 'ProximaNova',sans-serif;}
                span{font-size: 14px;font-family: 'ProximaNova',sans-serif;font-weight: 300;}
            }
        }
    }
}

// footer inside
.footer.inside{position: relative;z-index: 10;bottom: auto;background-color: #000;padding-top: 35px;
    .footer-wrap{min-height: 220px;display: flex;justify-content: space-between;align-items: flex-start;flex-wrap: wrap;}
    .mbox{max-width: 1280px;padding: 0 15px;margin: 0 auto;}
    .item{width: 33.33%;
        .item-adres{display: flex;flex-wrap: wrap;
            .item-adres-img{width: 60px;}
            p{margin: 0;font-size: 19px;color: white;}
            a{text-decoration: none;color: white;font-size: 19px;}
        }
        .item-adres-text{display: flex;flex-direction: column;justify-content: space-around;}
    }
}