/*main section*/
$pup:#864ad0;
.main{background-color: #000;background-size: cover;background-position: center center;background-repeat: no-repeat;text-align: center;
    p{margin:0;}
    .opacity_text{font-family: 'Roboto';font-size: 48px;color: rgba(255,255,255, .05);font-weight: 700;
        b{font-weight: 900;font-size: 204px;display: block;letter-spacing: 0.1em;}
        span{letter-spacing: 1.3em;display:block;margin-top: -45px;}
    }
    .sub_text{font-size: 21px;color: white;text-transform: uppercase;padding-top: 60px;position: relative;margin-bottom: 58px;
        &:after{content: '';position: absolute;bottom: -24px;background-color: #fff;transform: translateX(-50%);height: 3px;width: 160px;}
    }
    .main_text{color: white;
        h1{margin: 0;font-size: 88px;font-family: 'Proxima Nova';font-weight: 800;
            span{color: $pup}
            b{font-size: 165px;display: block;margin-top: 9px;font-weight: 900;}
        }
    }
    .sub_description{max-width: 715px;margin:0 auto;color: white;font-size: 20px;line-height: 1.15;margin-bottom: 23px;}
    .main_button{max-width: 371px;width: 100%;margin:0 auto;display: flex;align-items:center;justify-content:space-between;
        .icon-video{border-left: 17px solid white;border-top: 10px solid transparent;border-bottom: 10px solid transparent;margin-right: 10px;}
        .icon-prezentation{width: 20px;height: 18px;background:transparent url('../images/icon-prezentation.png') center center no-repeat;margin-right: 7px;}
    }
}

/*button purple*/
.button-purple{width: 172px;height: 43px;background-color: $pup;color: white;text-decoration: none;display: flex;align-items:center;justify-content:center;border-radius: 23px;transition:all ease .2s;
    span{font-weight: bold;font-size: 15px;}
    &:hover{background-color: #9961DE;}
    &:active{background-color: #5F2BA0;}
}