<div class="tabs-block clients-page">
    <div class="mbox">
        <div class="top-row">
            <div class="title-text"> 
                <h1> <span>#</span> КЛИЕНТЫ </h1> 
            </div>
            <div class="after-text">Вы можете просмотреть наших клиентов с которыми мы сотрудничаем или работаем. Нам доверяют, ваше доверие стимулируют и вдохновляют нас на продуктивную работу.</div>
        </div>
        <div class="tabs-row">
            <div class="disp">
                <!-- -->
                <ul>
                    <li class="active">
                        <ul class="clients">
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli1.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli2.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli3.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli4.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli5.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli6.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli7.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli8.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli9.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli10.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli1.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli11.png" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <a href="#" class="cli">
                                        <img src="images/cli12.png" alt="">
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <div class="button-row">
                            <a href="" class="more" data-tab='SММ' >
                                <span>Загрузить еще1</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- -->
            </div>
            
        </div>
    </div>
</div>

<script>
    var actionUrl = 'js/json/addcontent.json';
</script>