<!-- FOOTER -->
<footer class="footer inside">
    <div class="mbox">
        <div class="footer-wrap">
            <div class="item item-1">
                <div class="item-adres">
                    <div class="item-adres-img">
                        <img src="images/footer-adres-1.png" alt="">
                    </div>
                    <div class="item-adres-text">
                        <p>г. Астана, ул. Бейбитшилик, 16 </p>
                        <a href="callto:+77017007000"><span>+ 7 701 700 70 00</span></a>
                    </div>
                </div>
            </div>
            <div class="item item-2">
                <div class="item-adres">
                    <div class="item-adres-img">
                        <img src="images/footer-adres-1.png" alt="">
                    </div>
                    <div class="item-adres-text">
                        <p>г. Алматы, ул. Абая, 12</p>
                        <a href="callto:+77017007000"><span>+ 7 701 700 70 00</span></a>
                    </div>
                </div>
            </div>
            <div class="item item-3"></div>
            <div class="item item-4"></div>
            <div class="item item-5"></div>
            <div class="item item-6"></div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
      var pos1 = new google.maps.LatLng(51.159110, 71.469678);
      var pos2 = new google.maps.LatLng(43.229891, 76.918041);
</script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/scrolloverflow.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fullpage.min.js" ></script>



<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
