<!-- FOOTER -->
<footer class="footer">
    <div class="mbox">
        <div class="soc-button">
            <ul>
                <li><a href="#" target="_blank"><img src="images/soc-1.svg" alt=""></a></li>
                <li><a href="https://vk.com/puchacc" target="_blank"><img src="images/soc-2.svg" alt=""></a></li>
                <li><a href="https://instagram.com/puchacc" target="_blank"><img src="images/soc-3.svg" alt=""></a></li>
                <li><a href="#" target="_blank"><img src="images/soc-4.svg" alt=""></a></li>
            </ul>
        </div>
    </div>
</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
    var pos = [
        [51.159110, 71.469678],
        [43.229891, 76.918041]
    ] ;
     // var pos1 = new google.maps.LatLng(pos[0][0], pos[0][1]);
     // var pos2 = new google.maps.LatLng(43.229891, 76.918041);
</script>

<!-- build:js -->
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.spincrement.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>
<script type="text/javascript" src="js/plagins/scrolloverflow.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fullpage.min.js" ></script>


<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
