<!-- HEADER -->
<header class="header">

    <div class="mbox">
        <div class="header-wrap">

            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>

            <div class="header-nav">

                <div class="sendwich-wrap">
                    <div class="sendwich">
                        <span></span>
                    </div>
                </div>

                <nav class="header-list">
                    <ol>
                        <li>
                            <a href="#">ГЛАВНАЯ</a>
                        </li>
                        <li>
                            <a href="#">УСЛУГИ</a>
                        </li>
                        <li>
                            <a href="#">ПОРТФОЛИО</a>
                        </li>
                        <li>
                            <a href="#">КОМАНДА</a>
                        </li>
                        <li>
                            <a href="#">КОНТАКТЫ</a>
                        </li>
                    </ol>
                </nav>

            </div>

            <div class="header-getcall">
                <div class="telefone-link-wrap">
                    <a href="#call-popup" class="fancybox-form">ЗАКАЗАТЬ ЗВОНОК</a>
                </div>
                <div class="telefone-number">
                    <a href="callto:87024497079"></a>
                </div>
            </div>

        </div>
    </div>

</header>
<!-- /HEADER -->

