<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <div class="slide-form">

            <div class="slide-form-wrap">

                <div class="slide-form-title">Заказать звонок</div>

                <p>Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                <form class="slide-form-main-popup" action="ajax.php">
                    <div class="form_row">
                        <div class="form_input">
                            <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <input type="email" name="user_email" placeholder="EMAIL" />
                        </div>
                    </div>
                    <div class="form_row">
                        <div class="form_input">
                            <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                        </div>
                    </div>
                    <div class="form_row form_submit">
                        <div class="form_input">
                            <button class="button" type="submit">
                                <span>Отправить</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>