<section class="inside-graph-design">

    <div class="mbox">

        <div class="graph-design-row">

            <div class="graph-design-text">

                <h2 class="inside-title">
                    <span>#</span>ГРАФИЧЕСКИЙ <span>Дизайн</span>
                </h2>

                <div class="inside-graph-price">Цена: от 50 000 тнг</div>

                <div class="inside-graph-links">
                    <a href="#">Портфолио</a>
                    <a href="#">Презентация</a>
                </div>

                <div class="graph-inside-text-wrap graph-inside-wrap-top">
                    <p><b style="font-weight:500;">Графический дизайн</b> создаёт особую стилистическую индивидуальность для Вашей полиграфической продукции. Фирменный стиль способствует безошибочной узнаваемости Вашей продукции</p>
                </div>

                <div class="inside-graph-text-wrap inside-desktop">

                    <img src="images/inside-graph-smallimg.png" alt="" style="margin-bottom: 50px;" />

                    <h6 style="margin-bottom:40px;">Разработка логотипа от А до Я</h6>

                    <hr />

                    <p>Графические объекты привлекают внимание целевой аудитории, выделяют Вас среди конкурентов, иллюстрируют смысловую часть и стимулируют продажи. Доверьте это профессионалам!</p>

                </div>

            </div>

            <div class="graph-design-img">

                <div class="graph-design-img-wrap">
                    <img src="images/graph-design-img1.jpg" alt="" />
                </div>


                <div class="graph-design-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать ГРАФИЧЕСКИЙ ДИЗАЙН</div>

                            <p>Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>

            </div>

            <div class="inside-graph-text-wrap inside-mobile">

                <img src="images/inside-graph-smallimg.png" alt="" />

                <h6>Разработка логотипа от А до Я</h6>

                <hr />

                <p>Графические объекты привлекают внимание целевой аудитории, выделяют Вас среди конкурентов, иллюстрируют смысловую часть и стимулируют продажи. Доверьте это профессионалам!</p>

            </div>

        </div>

        <div class="graph-design-row">

            <div class="graph-design-img">

                <img src="images/graph-design-img2.jpg" alt="" />

            </div>

            <div class="graph-design-text">

                <h2 class="inside-title">
                    <span>#</span>ГРАФИЧЕСКИЙ <span>Дизайн включает в себя создание:</span>
                </h2>

                <div class="inside-graph-text-wrap">
                    <p>Наша цель – создать графические объекты, которые в полной мере отражают концепцию Вашего бизнеса. Для этого мы изучаем конкурентную среду и целевую аудиторию Вашей компании, вместе с Вами выбираем основную идею на основе предварительных эскизов и лишь после этого приступаем к детальной прорисовке и доработке готового варианта.</p>
                </div>

                <div class="graph-inside-center">

                    <img src="images/inside-center-img.png" alt="" />

                    <ul>
                        <li>Логотип</li>
                        <li>Постеры</li>
                        <li>Буклеты</li>
                        <li>Брошюры</li>
                        <li>Взитки</li>
                        <li>Сертификаты</li>
                        <li>Каталоги</li>
                        <li>Блакноты</li>
                        <li>Ежедневники</li>
                        <li>Плакаты</li>
                    </ul>

                </div>

                <div class="inside-graph-text-wrap">
                    <p><b>Объекты графического дизайна</b> используют для позиционирования компании или ее продукции. Ошибки дизайнера недопустимы, поэтому обращайтесь к профессионалам – Pucha Creative Company всегда рады Вам!</p>
                </div>

            </div>

        </div>

    </div>

</section>