<section class="inside-brendbook" id="inside-brendbook">
	<div class="mbox">
		<div class="brend-book-wrapper">
			<div class="brend-book-block1">
				<div class="same-part">
					<h2 class="inside-title">
                   		<span>#</span>СОЗДАНИЕ<span>БРЕНДБУКА</span>
                	</h2>

	                <div class="inside-graph-price">Цена: от 100 000 тнг</div>

	                <div class="inside-graph-links">
	                    <a href="#">Портфолио</a>
	                    <a href="#">Презентация</a>
	                </div>
	                <div class="graph-inside-text-wrap graph-inside-wrap-top">
	                    <p><b style="font-weight:500;">Брендбук</b> – общий документ, в котором представлены все фиксированные требования для использования логотипа, цветовой гаммы и шрифтов. </p>
                	</div>
				</div>
				<div class="sircle-part">
					<div class="sircle1 sircle">
						<div class="hedding">
							<p><span>#</span>ЛОГОТИП</p>
						</div>
						<div class="sircle-text">
							<p>#Логотип – лицо Вашей компании. На основе логотипа строится весь фирменный стиль компании. </p>
						</div>
					</div>
					<div class="sircle2 sircle">
						<div class="hedding">
							<p><span>#</span>СТРАТЕГИЯ</p>
						</div>
						<div class="sircle-text">
							<p>#Удачный шрифт привлекает внимание и создаёт оптимальные условия для зрительного восприятия. </p>
						</div>
					</div>
					<div class="sircle3 sircle">
						<div class="hedding">
							<p><span>#</span>ЦВЕТ</p>
						</div>
						<div class="sircle-text">
							<p>#С помощью цвета можно передать аудитории определённое послание, нужное настроение и эмоции</p>
						</div>
					</div>
				</div>
			</div>
			<div class="brend-book-block2">
				<img src="images/brend-book-image.jpg">
				<div class="brend-book-block2-form">
					<div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать БРЕНДБУК</div>

                            <p>Пока Вы раздумываете, Ваши конкуренты уже делают брендбук. Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов.  </p>

                            <form class="slide-form-main">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>
				</div>
			</div>
			<div class="brend-book-block3">
				<div class="graph-inside-text-wrap graph-inside-wrap-top">
	                    <p><b style="font-weight:500;">Бренд</b> - концепция включает описание идентичности бренда (преимущества, выгоды и атрибуты) и его позиционирование на целевую аудиторию (маркетинговые кампании). </p>
                	</div>
				<img src="images/brend-book-image2.jpg">
			</div>
			<div class="brend-book-block4"></div>
		</div>
	</div>
</section>