<section class="inside-create-website">
    <div class="mbox inside">
        <div class="web_row row_1">
            <div class="web_item left">
                <h2 class="inside-title">
                    <span>#</span>ГРАФИЧЕСКИЙ <span>Дизайн</span>
                </h2>
                <div class="web_item_links">
                    <a href="#"><span>Портфолио</span></a>
                    <span>|</span>
                    <a href="#"><span>Презентация</span></a>
                </div>
                <div class="web_item_text">
                    <p><b>Сайт</b> – это полноценный канал продаж, а не просто представительство Вашей компании в интернете. Созданный нашими специалистами сайт увеличивает Ваши продажи до 80%. Хотите повысить свой доход – закажите продающий сайт прямо сейчас! </p>
                </div>
                <div class="web_item_items_wrap">
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_1.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Опытные специалисты </div>
                            <div class="item_title">Вы сэкономите своё время, доверяя работу профессионалам с большим опытом работы </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_2.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Оригинальность </div>
                            <div class="item_title">Выделиться на фоне конкурентов Вам поможет нешаблонный подход наших дизайнеров к созданию каждого сайта. </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_3.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Комплексность услуг </div>
                            <div class="item_title">Наши клиенты всегда рады, что все услуги по созданию, продвижению и поддержке сайта можно получить в одной веб-студии</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_1.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Согласованность с клиентом </div>
                            <div class="item_title">Промежуточные этапы работы (прототип, дизайн, контент) всегда согласовываются с клиентом.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_item right">
                <div class="web_item_img">
                    <img src="images/web_item_img_1.jpg" alt="">
                </div>
                <div class="inside-create-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать ГРАФИЧЕСКИЙ ДИЗАЙН</div>

                            <p>Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>
            </div>
        </div>
    </div>
</section>