<section class="inside-create-website inside-prezentation black_head">
    <div class="mbox inside">
        <div class="web_row row_1">
            <div class="web_item left">
                <h1 class="inside-title">
                    <span>#</span>Создание <span>ПРЕЗЕНТАЦИЙ</span>
                </h1>
                <div class="web_item_links">
                    <a href="#"><span>Портфолио</span></a>
                    <span>|</span>
                    <a href="#"><span>Презентация</span></a>
                </div>
                <div class="web_item_text">
                    <p><b>Презентация</b>это визуальное представление Вашей компании, предназначенное как для партнёров, так и для потребителей. Презентация кратко и демонстративно расскажет о Ваших преимуществах. Наша задача – создать качественный дизайн презентации, отражающий суть и концепцию Вашего бизнеса.  </p>
                </div>

            </div>
            <div class="web_item right">
                <div class="web_item_img">
                    <img src="images/inside-prezentation.jpg" alt="">
                </div>
                <div class="inside-create-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать сайт</div>

                            <p>Пока Вы раздумываете, Ваши конкуренты уже делают сайт. Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>
            </div>
        </div>
    </div>
</section>