<div class="contein">
    <div class="mb">
        <div class="top-part cfix">
            <div class="l-side">
                <div class="title">#КОНТЕКСТНАЯ <span>РЕКЛАМА</span> </div>
                <div class="after-text">Цена: от 80 000 тнг/мес</div>
                <div class="inside-links">
                    <a href="./portfolio.html">Портфолио</a>
                    <a href="./inside-prezentation.html">Презентация</a>
                </div>
                <div class="texter">Ваши объявления показаны только тем пользователям, которые сами, судя по поисковым запросам, проявляют интерес
                    к подобным товарам/услугам. Рекламное объявление состоит из заголовка, краткого описания предложения
                    и ссылки на целевую страницу. </div>
                <div class="diagram cfix">
                    <div class="item" data-percent='80'>
                        <div class="convert-svg">
                            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 185 185" style="enable-background:new 0 0 185 185; " xml:space="preserve">
                                <circle class="st0" cx="93.5" cy="93.5" r="88.5" />
                                <circle class="st1" cx="93.5" cy="93.5" r="88.5" />
                            </svg>
                            <div class="text-percent"> <span>0%</span></div>
                        </div>
                        <div class="after-text-svg"> <span>ПОВЫШЕНИЕ ПРОДАЖ</span> </div>
                    </div>
                    <div class="item" data-percent='25'>
                        <div class="convert-svg">
                            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 185 185" style="enable-background:new 0 0 185 185; " xml:space="preserve">
                                <circle class="st0" cx="93.5" cy="93.5" r="88.5" />
                                <circle class="st1" cx="93.5" cy="93.5" r="88.5" />
                            </svg>
                            <div class="text-percent"> <span>0%</span></div>
                        </div>
                        <div class="after-text-svg"> <span>КОНВЕРСИЯ</span> </div>
                    </div>
                    <div class="item" data-percent='60'>
                        <div class="convert-svg">
                            <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 185 185" style="enable-background:new 0 0 185 185; " xml:space="preserve">
                                <circle class="st0" cx="93.5" cy="93.5" r="88.5" />
                                <circle class="st1" cx="93.5" cy="93.5" r="88.5" />
                            </svg>
                            <div class="text-percent"> <span>0%</span></div>
                        </div>
                        <div class="after-text-svg"> <span>ПРОСМОТРЫ</span> </div>
                    </div>
                </div>
            </div>
            <div class="r-side">
                <img src="images/moni.jpg" alt="">
                <div class="pico">
                    <div class="graph-design-form">

                        <!-- slide-form -->

                        <div class="slide-form">

                            <div class="slide-form-wrap">

                                <div class="slide-form-title">Заказать ГРАФИЧЕСКИЙ ДИЗАЙН</div>

                                <p>Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов.
                                    </p>

                                <form class="slide-form-main">
                                    <div class="form_row">
                                        <div class="form_input">
                                            <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="form_input">
                                            <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                        </div>
                                    </div>
                                    <div class="form_row">
                                        <div class="form_input">
                                            <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                        </div>
                                    </div>
                                    <div class="form_row form_submit">
                                        <div class="form_input">
                                            <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                        </div>
                                    </div>
                                </form>

                            </div>

                            <div class="slide-form-letter">
                                <span class="mail-icon"></span>
                                <span class="mail-icon mail-icon-hover"></span>
                            </div>

                        </div>

                        <!-- /slide-form -->

                    </div>
                </div>
            </div>
        </div>
        <div class="mid-part cfix section-animate">
            <div class="title-row animate-delay"> #3 <span>ОСНОВНЫХ Технологии</span> </div>
            <div class="items-row cfix">
                <div class="item animate-delay">
                    <div class="head cfix">
                        <div class="num">01</div>
                        <div class="top">ПОВЫШЕНИЕ CTR</div>
                        <div class="desk">РЕМАРКЕТИНГ</div>
                    </div>
                    <div class="after">После анализа поведения пользователя на сайтах рекламодателей, ему показывают рекламу тех товаров и услуг,
                        которые он просматривал ранее</div>
                </div>
                <div class="item animate-delay">
                    <div class="head cfix">
                        <div class="num">02</div>
                        <div class="top">УЗНАВАЕМОСТЬ БРЕНДА</div>
                        <div class="desk">Поведенческие технологии.</div>
                    </div>
                    <div class="after">Система проводит анализ истории поиска пользователя в интернете и показывает релевантные объявления.
                        </div>
                </div>
                <div class="item animate-delay">
                    <div class="head cfix">
                        <div class="num">03</div>
                        <div class="top">ПОВЫШЕНИЕ КЛИКАБЕЛЬНОСТИ</div>
                        <div class="desk">Контекстный таргетинг </div>
                    </div>
                    <div class="after">Автоматически считывается содержание страниц сайта, после этого контекстная система показывает рекламные
                        объявления в соответствии с содержанием страниц сайта. </div>
                </div>
            </div>
        </div>
        <div class="bottom-part cfix section-animate spincremention">
            <div class="title-hidd"> # <span>полная статистика </span></div>
            <div class="left animate-delay">
                <div class="cio">
                    <img src="images/googl.png" alt="">
                    <p><span class="spincrement-animate" data-to="85">0</span>%</p>
                </div>
                <div class="pio">Система Google Adwords отображает Ваше объявление контекстной рекламы в виде двух-трёх блоков. Один размещён
                    вверху страницы, второй – справа от результатов поиска, трений – снизу. </div>
            </div>
            <div class="center animate-delay">
                <img src="images/hand.png" alt="">
            </div>
            <div class="right animate-delay">
                <div class="cio">
                    <img src="images/yandex.jpg" alt="">
                    <p> <span class="spincrement-animate" data-to="65">0</span>%</p>
                </div>
                <div class="pio">В поисковом окне Яндекса Ваше объявление может быть расположено в трёх категориях рекламных объектов: спецразмещение,
                    гарантированные показы, динамические показы. Наши специалисты подберут оптимальный вариант именно для
                    Вашего бизнеса </div>
            </div>
        </div>
    </div>
</div>