<section class="inside-smm black_head">
    <div class="mbox inside">

        <div class="inside-smm-top inside-smm-row">

            <div class="inside-smm-row-left">
                <h2 class="inside-title">
                    <span>#</span>S<span>MM</span>
                </h2>

                <div class="inside-price">Цена: от 80 000 тнг/мес</div>

                <div class="inside-links">
                    <a href="./portfolio.html">Портфолио</a>
                    <a href="./inside-prezentation.html">Презентация</a>
                </div>

                <div class="inside-smm-top-content">
                    <div class="inside-smm-text">
                        <p><b>SMM</b> – это продвижение Вашего бренда, товаров, услуг посредством ведущих социальных платформ с целью увеличения продаж и узнаваемости бренда. Разработка стратегии.</p>
                    </div>
                    <div class="inside-smm-top-items">
                        <ul>
                            <li>
                                <h6>РАЗРАБОТКА СТРАТЕГИИ</h6>
                                <p>Определение целевой аудитории и выявление её интересов – ключевой фактор успеха Вашей рекламной кампании в социальных сетях</p>
                            </li>
                            <li>
                                <h6>РАБОТА С ИНТЕРФЕЙСОМ</h6>
                                <p>Наши SMM-специалисты создают дизайн Вашего сообщества, внедряют стимулы для вступления в него, а также интегрируют Ваш сайт с социальными сетями</p>
                            </li>
                            <li>
                                <h6>Контент-менеджмент</h6>
                                <p>Структурированное содержание, адаптация существующего контента под различные форматы – основа живого интереса аудитории к Вашему сообществу.</p>
                            </li>
                            <li>
                                <h6>АНАЛИТИКА</h6>
                                <p>Отслеживание источников и качества трафика, подсчёт стоимость целевого действия, мониторинг социальных сетей и блогов вручную. </p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="inside-smm-row-right">
                <div class="inside-smm-img">
                    <img src="images/inside-smm-img1.jpg" alt="" />
                </div>
                <div class="inside-smm-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать SMM</div>

                            <p>Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main" action="ajax.php">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>
            </div>

        </div>

        <div class="smm-title inside-mobile"><span>#</span>СТАТИСТИКА</div>

        <div class="inside-smm-middle spincrement-counter">

            <div class="inside-smm-middle-item">
                <div class="inside-smm-middle-item-wrap">
                    <div class="inside-smm-middle-img">
                        <img src="images/inside-smm-middle-img1.png" alt="" />
                    </div>
                    <div class="inside-smm-middle-value">+ <span class="spincrement" data-from="0" data-to="13000" ></span></div>
                    <div class="inside-smm-middle-text">РЕАЛЬНЫХ ПОДПИСЧИКОВ</div>
                </div>
            </div>
            <div class="inside-smm-middle-item">
                <div class="inside-smm-middle-item-wrap">
                    <div class="inside-smm-middle-img">
                        <img src="images/inside-smm-middle-img2.png" alt="" />
                    </div>
                    <div class="inside-smm-middle-value"><span class="spincrement" data-from="0" data-to="5"></span>-<span class="spincrement" data-from="0" data-to="30"></span></div>
                    <div class="inside-smm-middle-text">ПРОДАЖ</div>
                </div>
            </div>
            <div class="inside-smm-middle-item">
                <div class="inside-smm-middle-item-wrap">
                    <div class="inside-smm-middle-img">
                        <img src="images/inside-smm-middle-img4.png" alt="" />
                    </div>
                    <div class="inside-smm-middle-value">+<span class="spincrement" data-from="0" data-to="28000" ></span></div>
                    <div class="inside-smm-middle-text">ЛАЙКОВ</div>
                </div>
            </div>
            <div class="inside-smm-middle-item">
                <div class="inside-smm-middle-item-wrap">
                    <div class="inside-smm-middle-img">
                        <img src="images/inside-smm-middle-img3.png" alt="" />
                    </div>
                    <div class="inside-smm-middle-value">+<span class="spincrement" data-from="0" data-to="200"></span></div>
                    <div class="inside-smm-middle-text">ПОСТЫ</div>
                </div>
            </div>
        </div>

        <div class="inside-smm-bottom inside-smm-row">
            <div class="inside-smm-row-left">

                <div class="inside-smm-statistic-title">
                    <p>
                        <b>НАША РАБОТА</b>
                    </p>
                    <p>ПОЛНАЯ СТАТИСТИКА ЗА МЕСЯЦ РАСКРУТКИ ОТ НАШЕЙ КОМПАНИИ</p>
                </div>

                <div class="inside-smm-progress">
                    <div class="inside-smm-progress-top">
                        <div class="inside-smm-progress-title">подписчиков</div>
                        <div class="inside-smm-progress-value">+<span class="spincrement" data-to="2000"></span></div>
                    </div>
                    <div class="inside-smm-progress-bottom" data-progress=85>
                        <span></span>
                    </div>
                </div>
                <div class="inside-smm-progress">
                    <div class="inside-smm-progress-top">
                        <div class="inside-smm-progress-title">лайков</div>
                        <div class="inside-smm-progress-value">+<span class="spincrement" data-to="30"></span> / за пост</div>
                    </div>
                    <div class="inside-smm-progress-bottom" data-progress=70>
                        <span></span>
                    </div>
                </div>
                <div class="inside-smm-progress">
                    <div class="inside-smm-progress-top">
                        <div class="inside-smm-progress-title">постов</div>
                        <div class="inside-smm-progress-value">более <span class="spincrement" data-to="30"></span> постов</div>
                    </div>
                    <div class="inside-smm-progress-bottom" data-progress=90>
                        <span></span>
                    </div>
                </div>

            </div>
            <div class="inside-smm-row-right">
                <div class="inside-smm-text inside-mobile">Правильная подача Вашей рекламы – основной фактор успеха в современном бизнесе. Наша цель – сделать Вашу рекламу креативной и правильно преподнести её Вашей целевой аудитории. Только при таких условиях ведения бизнеса можно добиться привлечения клиентов и крупного внимания к Вашему бренду или товару.</div>
                <div class="inside-smm-img">
                    <img src="images/inside-smm-img2.jpg" alt="" />
                </div>
            </div>
        </div>

        <div class="inside-smm-bottom-text inside-smm-row">
            <div class="inside-smm-row-left inside-desktop">
                <div class="inside-smm-text">Правильная подача Вашей рекламы – основной фактор успеха в современном бизнесе. Наша цель – сделать Вашу рекламу креативной и правильно преподнести её Вашей целевой аудитории. Только при таких условиях ведения бизнеса можно добиться привлечения клиентов и крупного внимания к Вашему бренду или товару. </div>
            </div>
            <div class="inside-smm-row-right">
                <div class="inside-smm-text">SMM-продвижение обладает рядом преимуществ: минимальные затраты на первоначальную раскрутку, широкая аудитория (по миллионов пользователей некоторых приложений), возможность фильтрации аудитории по социальным параметрам (возраст, мест жительства, интересы), постепенная наработка имиджа (работа на перспективу)</div>
            </div>
        </div>

    </div>
</section>