<section class="inside-create-website inside-prezentation black_head">
    <div class="mbox inside">
        <div class="web_row row_1">
            <div class="web_item left">
                <h1 class="inside-title">
                    <span>#</span>Создание <span>ПРЕЗЕНТАЦИЙ</span>
                </h1>
                <div class="inside-price">
                    <p>Цена: от 40 000 тнг</p>
                </div>
                <div class="web_item_links">
                    <a href="./portfolio.html"><span>Портфолио</span></a>
                    <span>|</span>
                    <a href="#"><span>Презентация</span></a>
                </div>
                <div class="web_item_text">
                    <p><b>Презентация</b>это визуальное представление Вашей компании, предназначенное как для партнёров, так и для потребителей. Презентация кратко и демонстративно расскажет о Ваших преимуществах. Наша задача – создать качественный дизайн презентации, отражающий суть и концепцию Вашего бизнеса.  </p>
                </div>

                <div class="prezentation-steps section-animate">
                    <div class="prezentation-steps-title animate-delay">
                        <b>#</b>Этапы разработки:
                    </div>
                    <div class="prezentation-steps-wrap">
                        <div class="item item-1 animate-delay">
                            <div class="item-img"><img src="images/prezent-img-1.png" alt=""></div>
                            <div class="item-text">
                                <p>Определе-<br>ние цели </p>
                            </div>
                        </div>
                        <div class="item item-2 animate-delay">
                            <div class="item-img"><img src="images/prezent-img-2.png" alt=""></div>
                            <div class="item-text">
                                <p>Составле-<br>ние концеп-<br>ции</p>
                            </div>
                        </div>
                        <div class="item item-3 animate-delay">
                            <div class="item-img"><img src="images/prezent-img-3.png" alt=""></div>
                            <div class="item-text">
                                <p>Написание<br> текста</p>
                            </div>
                        </div>
                        <div class="item item-4 animate-delay">
                            <div class="item-img"><img src="images/prezent-img-4.png" alt=""></div>
                            <div class="item-text">
                                <p>Разработка<br> дизайна</p>
                            </div>
                        </div>
                        <div class="item item-5 animate-delay">
                            <div class="item-img"><img src="images/prezent-img-5.png" alt=""></div>
                            <div class="item-text">
                                <p>Согласование</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="web_item right">
                <div class="web_item_img">
                    <img src="images/inside-prezentation.jpg" alt="">
                </div>
                <div class="inside-create-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать сайт</div>

                            <p>Пока Вы раздумываете, Ваши конкуренты уже делают сайт. Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main" action="ajax.php">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>
            </div>
        </div>
        <div class="web_row row_2 section-animate">
            <div class="web_item left animate-it">
                <div class="prezentation-texting">
                    <p><b>В результате Вы получаете презентацию, благодаря которой достигните поставленных целей </b></p>
                    <p>Мы создаем презентации: </p>
                    <p>1.Статичные (PDF); </p>
                    <p>2.Анимированные (PPT); </p>
                    <p>Power Point, созданные по индивидуальному сценарию. </p>
                    <p>3.Мультимедийные </p>
                    <p>(Flash, HTML, Видео) </p>
                </div>
                <div class="prezentation-img">
                    <img src="images/prezentation-img-1.jpg" alt="">
                </div>
                <div class="prezentation-texting">
                    <p>Качественный дизайн презентации выделяет Вас среди конкурентов и других проектов. Подбор точных цветов существенно влияет на восприятие презентации. Однако чрезмерный акцент на оформлении может отрицательно повлиять на её содержание. Поэтому важно соблюдать баланс между количеством анимаций и контентом.</p>
                </div>
            </div>
            <div class="web_item right animate-it">
                <div class="prezentation-texting">
                    <p><b>Маркетинг-кит</b> – это один из главных маркетинговых инструментов, который компании используют при презентации своих товаров или услуг потенциальным клиентам. </p>
                    <p>Цели маркетинг кита: </p>
                    <p>- увеличение продаж; </p>
                    <p>- увеличение базы клиентов; </p>
                    <p>- увеличение конверсии; </p>
                    <p>- повышение интереса к компании и её услугам. </p>
                </div>
                <div class="prezentation-img">
                    <img src="images/prezentation-img-2.jpg" alt="">
                </div>
                 <div class="prezentation-texting">
                     <p><b>Разделы маркетинг-кита: </b></p>
                     <br>
                     <p>1. Характеристика/миссия/видение Вашей компании. </p>
                     <p>2. История компании. </p>
                     <p>3. Описание продукции/услуг Вашей компании </p>
                     <p>4. Описание структуры целевой аудитории. </p>
                     <p>5. Описание возможных проблем, причин их возникновения и методов их решения. </p>
                     <br>
                     <p>6. Анализ конкурентов. </p>
                     <p>7. Уникальное коммерческое предложение. </p>
                     <p>8. Примеры обращения клиентов и их отзывы. </p>
                     <p>9. Рекомендации и часто задаваемые вопросы. </p>
                 </div>
            </div>
        </div>
    </div>
</section>