<section class="inside-create-website black_head">
    <div class="mbox inside">
        <div class="web_row row_1">
            <div class="web_item left">
                <h1 class="inside-title">
                    <span>#</span>Создание <span>Сайтов</span>
                </h1>
                <div class="web_item_links">
                    <a href="./portfolio.html"><span>Портфолио</span></a>
                    <span>|</span>
                    <a href="./inside-prezentation.html"><span>Презентация</span></a>
                </div>
                <div class="web_item_text">
                    <p><b>Сайт</b> – это полноценный канал продаж, а не просто представительство Вашей компании в интернете. Созданный нашими специалистами сайт увеличивает Ваши продажи до 80%. Хотите повысить свой доход – закажите продающий сайт прямо сейчас! </p>
                </div>
                <div class="web_item_items_wrap">
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_1.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Опытные специалисты </div>
                            <div class="item_text">Вы сэкономите своё время, доверяя работу профессионалам с большим опытом работы </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_2.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Оригинальность </div>
                            <div class="item_text">Выделиться на фоне конкурентов Вам поможет нешаблонный подход наших дизайнеров к созданию каждого сайта. </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_3.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Комплексность услуг </div>
                            <div class="item_text">Наши клиенты всегда рады, что все услуги по созданию, продвижению и поддержке сайта можно получить в одной веб-студии</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item_img"><img src="images/web_item_items_img_1.png" alt=""></div>
                        <div class="item_description">
                            <div class="item_title">Согласованность с клиентом </div>
                            <div class="item_text">Промежуточные этапы работы (прототип, дизайн, контент) всегда согласовываются с клиентом.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="web_item right">
                <div class="web_item_img">
                    <img src="images/web_item_img_1.jpg" alt="">
                </div>
                <div class="inside-create-form">

                    <!-- slide-form -->

                    <div class="slide-form">

                        <div class="slide-form-wrap">

                            <div class="slide-form-title">Заказать сайт</div>

                            <p>Пока Вы раздумываете, Ваши конкуренты уже делают сайт. Прочь сомнения: оставляйте заявку прямо сейчас, и мы свяжемся с Вами в течение 24 часов. </p>

                            <form class="slide-form-main" action="ajax.php">
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="text" name="user_name" placeholder="ИМЯ" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <input type="tel" class="tel-mask" name="user_phone" placeholder="+7(  )" required="required" />
                                    </div>
                                </div>
                                <div class="form_row">
                                    <div class="form_input">
                                        <textarea name="user_message" placeholder="СООБЩЕНИЕ"></textarea>
                                    </div>
                                </div>
                                <div class="form_row form_submit">
                                    <div class="form_input">
                                        <button class="button" type="submit">
                                            <span>Отправить</span>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="slide-form-letter">
                            <span class="mail-icon"></span>
                            <span class="mail-icon mail-icon-hover"></span>
                        </div>

                    </div>

                    <!-- /slide-form -->

                </div>
            </div>
        </div>
        <div class="web_row row_2 section-animate">
            <div class="web_item left animate-it">
                <h2 class="inside-title">
                    <span>#</span>Мы <span>создаем</span>
                </h2>
            </div>
            <div class="web_item right animate-it">
                <div class="web_item_slider">
                    <div class="web_item_slider_item">
                        <div class="row_2_title">
                            <p><span>#</span>1-ая Причина <b>создания сайта</b></p>
                            <p>Сайт – <span>информационный источник</span> </p>
                            <p>Профессиональная веб-студия сделает дизайн сайта не только привлекательным, но и функциональным. Навигация по сайту должна быть предельно понятной для пользователя, а информация – максимально конструктивной.</p>
                        </div>
                        <div class="web_item_slider_item_bottom">
                            <img src="images/web_item_slider_item_1.png" alt="">
                            <img src="images/web_item_slider_item_2.png" alt="">
                            <img src="images/web_item_slider_item_3.png" alt="">
                            <span>01/05</span>
                        </div>
                    </div>
                    <div class="web_item_slider_item">
                        <div class="row_2_title">
                            <p><span>#</span>2-ая Причина <b>создания сайта</b></p>
                            <p>Сайт – <span>коммерческий инструмент</span> </p>
                            <p>Сайты не только предоставляют информацию, но и становятся источником получения прибыли. Увеличить свой доход возможно, разместив на сайте подробные сведения о том, как приобрести Ваш товар/услугу. Часто сайты выполняют функции интернет-магазина, что значительно упрощает процесс покупки.</p>
                        </div>
                        <div class="web_item_slider_item_bottom">
                            <img src="images/web_item_slider_item_1.png" alt="">
                            <img src="images/web_item_slider_item_2.png" alt="">
                            <img src="images/web_item_slider_item_3.png" alt="">
                            <span>02/05</span>
                        </div>
                    </div>
                    <div class="web_item_slider_item">
                        <div class="row_2_title">
                            <p><span>#</span>3-ая Причина <b>создания сайта</b></p>
                            <p>Сайт – <span>рекламный инструмент.</span> </p>
                            <p>Веб-студии полного цикла не ограничиваются лишь созданием сайта. Большинство предлагают его полное продвижение. Арсенал рекламный средств и стратегий в интернете по истине велик. Не пользоваться ими – сокращать свою прибыль.</p>
                        </div>
                        <div class="web_item_slider_item_bottom">
                            <img src="images/web_item_slider_item_1.png" alt="">
                            <img src="images/web_item_slider_item_2.png" alt="">
                            <img src="images/web_item_slider_item_3.png" alt="">
                            <span>03/05</span>
                        </div>
                    </div>
                    <div class="web_item_slider_item">
                        <div class="row_2_title">
                            <p><span>#</span>4-ая Причина <b>создания сайта</b></p>
                            <p>Сайт – <span>средство коммуникации</span> </p>
                            <p>Одна из основных задач любой компании – правильно определить целевую аудиторию. Сайт – отличный помощник в данном деле. Он полностью представляет тематику компании, что привлекает именно Вашего целевого потребителя.</p>
                        </div>
                        <div class="web_item_slider_item_bottom">
                            <img src="images/web_item_slider_item_1.png" alt="">
                            <img src="images/web_item_slider_item_2.png" alt="">
                            <img src="images/web_item_slider_item_3.png" alt="">
                            <span>04/05</span>
                        </div>
                    </div>
                    <div class="web_item_slider_item">
                        <div class="row_2_title">
                            <p><span>#</span>5-ая Причина <b>создания сайта</b></p>
                            <p>Сайт – <span>это конкурентоспособность</span> </p>
                            <p>Практически каждая крупная компания сейчас представлена в интернете. Наличие собственного сайта, где можно найти полную информацию о Вашей сфере деятельности, значительно повышает оценку Вашей компании в глазах клиентов и партнёров.</p>
                        </div>
                        <div class="web_item_slider_item_bottom">
                            <img src="images/web_item_slider_item_1.png" alt="">
                            <img src="images/web_item_slider_item_2.png" alt="">
                            <img src="images/web_item_slider_item_3.png" alt="">
                            <span>05/08</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="web_row reverse row_3 texting section-animate">
            <div class="web_item left animate-it">
                <h2 class="inside-title">
                    <span>#</span>Landing <span>PAGE</span>
                </h2>
                <div class="web_texting_description">
                    <p><b>Landing page</b> – «посадочная страница» (всего одна!) для проведения рекламной кампании товара или услуги. Чем уже специализация продукта или услуги, тем выше эффективность работы продающей страницы.</p>
                    <ul>
                        <li>
                            <p><b>конкретность рекламного предложения</b> повысит заинтересованность              Ваших потенциальных клиентов; </p>
                        </li>
                        <li>
                            <p><b>лёгкость навигации по целевой страничке</b> сконцентрирует внимание посе-      тителя непосредственно на товаре/услуге; </p>
                        </li>
                        <li>
                            <p><b>быстрая загрузка страницы; </b></p>
                        </li>
                        <li>
                            <p><b>наличие призыва к действию</b> – оформлению заказа, покупке, заполнению        формы (увеличивает продажи до 30%).</p>
                        </li>
                    </ul>
                </div>
                <div class="web_texting_bottom">
                    <div class="web_texting_bottom_title">
                        <span>РАЗРЕШИТЕ</span> НАМ ВЫВЕСТИ ВАШ БИЗНЕС НА НОВЫЙ УРОВЕНЬ!
                    </div>
                    <div class="web_texting_bottom_price">
                        <b>Цена: от 300 000 тнг</b>
                    </div>
                    <div class="web_item_links">
                        <a href="#"><span>Портфолио</span></a>
                        <span>|</span>
                        <a href="#"><span>Презентация</span></a>
                    </div>
                </div>
            </div>
            <div class="web_item right animate-it">
                <div class="web_item_img">
                    <img src="images/web_item_img_2.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="web_row row_4 texting section-animate">
            <div class="web_item left animate-it">
                <h2 class="inside-title">
                    <span>#</span>Корпоративный <span>сайт</span>
                </h2>
                <div class="web_texting_description">
                    <p><b>Копоративный сайт</b> - это интернет-представительство Вашего бизнеса. Он содержит полную информацию о Вашей компании, сфере деятельности. Корпоративный сайт эффективно презентует Вашу компанию в сети. </p>
                    <ul>
                        <li>
                            <p><b> формирование корпоративного имиджа</b></p>
                        </li>
                        <li>
                            <p><b>удобная и оперативная связь</b> с клиентами и партнёрами; </p>
                        </li>
                        <li>
                            <p><b>своевременное информирование</b> о событиях компании; </p>
                        </li>
                        <li>
                            <p><b>подключение онлайн-сервиса </b>«Вопрос/Ответ» повышает степень лояльности клиентов. </p>
                        </li>
                    </ul>
                </div>
                <div class="web_texting_bottom">
                    <div class="web_texting_bottom_title">
                        <span>РАЗРЕШИТЕ</span> НАМ ВЫВЕСТИ ВАШ БИЗНЕС НА НОВЫЙ УРОВЕНЬ!
                    </div>
                    <div class="web_texting_bottom_price">
                        <b>Цена: от 500 000 тнг</b>
                    </div>
                    <div class="web_item_links">
                        <a href="#"><span>Портфолио</span></a>
                        <span>|</span>
                        <a href="#"><span>Презентация</span></a>
                    </div>
                </div>
            </div>
            <div class="web_item right animate-it">
                <div class="web_item_img">
                    <img src="images/web_item_img_3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="web_row reverse row_3 texting section-animate">
            <div class="web_item left animate-it">
                <h2 class="inside-title">
                    <span>#</span>Интернет <span>Магазин</span>
                </h2>
                <div class="web_texting_description">
                    <p><b>Интернет магазин</b> - это интерактивный веб-сайт для продажи товаров. В интернет-магазине Ваш покупатель сможет получить полную информацию о рекламируемом товаре, оставить заявку на покупку и сразу же произвести оплату в онлайн режиме. </p>
                    <ul>
                        <li>
                            <p><b>отсутствие затрат на аренду</b> помещения; </p>
                        </li>
                        <li>
                            <p><b>отсутствие региональных ограничений</b> при наличии налаженного канала поставки товара; </p>
                        </li>
                        <li>
                            <p><b>круглосуточная доступность</b> в отличии от обычных магазинов ; </p>
                        </li>
                        <li>
                            <p><b>отсутствие потребности</b> в большом количестве обслуживающего           персонала.</p>
                        </li>
                    </ul>
                </div>
                <div class="web_texting_bottom">
                    <div class="web_texting_bottom_title">
                        <span>РАЗРЕШИТЕ</span> НАМ ВЫВЕСТИ ВАШ БИЗНЕС НА НОВЫЙ УРОВЕНЬ!
                    </div>
                    <div class="web_texting_bottom_price">
                        <b>Цена: от 600 000 тнг</b>
                    </div>
                    <div class="web_item_links">
                        <a href="#"><span>Портфолио</span></a>
                        <span>|</span>
                        <a href="#"><span>Презентация</span></a>
                    </div>
                </div>
            </div>
            <div class="web_item right animate-it">
                <div class="web_item_img">
                    <img src="images/web_item_img_4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="web_row row_4 texting section-animate">
            <div class="web_item left animate-it">
                <h2 class="inside-title">
                    <span>#</span>ИНФОРМАЦИОННЫЙ <span>ПОРТАЛ</span>
                </h2>
                <div class="web_texting_description">
                    <p><b>Информационный портал</b>- это интернет-ресурс для обеспечения пользователей информацией по определённой тематике. Содержит инструменты для взаимодействия с пользователем. Информация обновляется в реальном времени. </p>
                    <ul>
                        <li>
                            <p><b> самостоятельная работа со своей целевой аудиторией,</b> а не через сторонние СМИ;</p>
                        </li>
                        <li>
                            <p><b> вовлеченность нескольких организаций</b> в процесс создания контента; </p>
                        </li>
                        <li>
                            <p><b> оптимизация бюджетных средств</b> на рекламные кампании;</p>
                        </li>
                        <li>
                            <p><b>поддержка коммуникаций.</b></p>
                        </li>
                    </ul>
                </div>
                <div class="web_texting_bottom">
                    <div class="web_texting_bottom_title">
                        <span>РАЗРЕШИТЕ</span> НАМ ВЫВЕСТИ ВАШ БИЗНЕС НА НОВЫЙ УРОВЕНЬ!
                    </div>
                    <div class="web_texting_bottom_price">
                        <b>Цена: от 1 000 000 тнг</b>
                    </div>
                    <div class="web_item_links">
                        <a href="#"><span>Портфолио</span></a>
                        <span>|</span>
                        <a href="#"><span>Презентация</span></a>
                    </div>
                </div>
            </div>
            <div class="web_item right animate-it">
                <div class="web_item_img">
                    <img src="images/web_item_img_5.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>