<section class="main section"  data-anchor="main" style="background-image: url(../images/main-bg.jpg);">
    <div class="conteiner">
        <div class="mbox">
            <div class="main-wrap">
                <div class="opacity_text">
                    <b>ДИЗАЙН</b>
                    <span>СТУДИЯ</span>
                </div>
                <div class="sub_text">
                    <p>ДОБРО ПОЖАЛОВАТЬ</p>
                </div>
                <div class="main_text">
                    <h1><span>КР</span>ЕАТИВНОЕ <span>АГЕ</span>НСТВО <br> <b><span>#</span>PUCHA</b></h1>
                </div>
                <div class="sub_description">
                    <p>Креативная веб-студия по городу Астана. Поможет Вашему бизнесу в трудную минуту и добавит новой жизни в Вашу компанию. Все наши проекты достойны искусства.</p>
                </div>
                <div class="main_button">
                    <a href="#" class="button-purple">
                        <span class="icon icon-video"></span>
                        <span class="">PLAY VIDEO</span>
                    </a>
                    <a href="#" class="button-purple">
                        <span class="icon icon-prezentation"></span>
                        <span class="">ПРЕЗЕНТАЦИЯ</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="scroll-down">
            <img src="images/scrooll-down.png" alt="">
        </div>
    </div>
</section>