<section class="our_team section" data-anchor="our_team">
    <div class="conteiner">
        <div class="mbox">

            <div class="left-column">

                <div class="left-column-text-wrap">
                    <div class="title-small desktop">Встречайте нашу команду</div>
                    <h2 class="title"><span>#</span>наша <span>ком</span>анда</h2>
                    <div class="descript">*Работайте как команда, а не как группа одиночек (Джон Коттер)</div>
                </div>

                <div class="slider-block">

                    <div class="slider-fotos">
                        <div class="slider-background">
                            <div class="slider-background-border"></div>
                            <div class="slider-background-fon"></div>
                        </div>
                        <div class="slider-fotos-wrap">
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                            <div class="slider-foto">
                                <div class="slider-foto-item">
                                    <img src="images/slider-foto-img1.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slider-item-descript">
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим1</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим2</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим3</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим4</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим5</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                        <div class="slider-item-descript-wrap">
                            <div class="slider-item-descript-name">Лубенко Максим6</div>
                            <div class="slider-item-descript-position">(дизайнер)</div>
                            <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                            <div class="slider-item-descript-login">«Design LuKo»</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="right-column">
                <div class="name-slider">
                    <div class="name-slider-person">Елена Дерр</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Маргулан Аскарбеков</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Анатолий Марченко</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Макс Лубенко</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Анастасия Шкарупина</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Нурлан Сабуров</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Достан Айдарбеков</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
            </div>

        </div>
    </div>
</section>