<section class="our-team section" data-anchor="our-team">
    <div class="conteiner">
        <div class="mbox">
            <div class="our-team-wrap">

                <div class="left-column">

                    <div class="left-column-text-wrap">
                        <div class="title-small desktop">Встречайте нашу команду</div>
                        <h2 class="title"><span>#</span>наша<br /><span>ком</span>анда</h2>
                        <div class="title-small mobile">Встречайте нашу команду</div>
                        <div class="descript">*Работайте как команда, а не как группа одиночек (Джон Коттер)</div>
                    </div>

                    <div class="slider-block">

                        <div class="slider-fotos">
                            <div class="slider-background">
                                <div class="slider-background-border"></div>
                                <div class="slider-background-fon"></div>
                            </div>
                            <div class="slider-fotos-wrap">

                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img2.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img3.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img4.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img5.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img6.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img7.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-foto">
                                    <div class="slider-foto-item">
                                        <img src="images/slider-foto-img8.png" alt="" />
                                    </div>

                                    <div class="slider-socials">
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-2.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-3.svg" alt="" />
                                            </a>
                                        </div>
                                        <div class="slider-social-item">
                                            <a href="#">
                                                <img src="images/soc-1.svg" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="descript-mobile-wrap">
                            <div class="descript">*Работайте как команда, а не как группа одиночек (Джон Коттер)</div>
                        </div>

                        <div class="slider-item-descript">

                            <div class="slider-item-descript-wrap active">
                                <div class="slider-item-descript-name">Маргулан Аскарбеков</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Артур</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Макс</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Анатолий</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Жаник</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Анастасия</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>
                            <div class="slider-item-descript-wrap">
                                <div class="slider-item-descript-name">Достан Айдарбеков</div>
                                <div class="slider-item-descript-position">(дизайнер)</div>
                                <div class="slider-item-descript-text">«Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выст»</div>
                                <div class="slider-item-descript-login">«Design LuKo»</div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="right-column">

                    <div class="name-slider-wrap">
                        <div class="name-slider">

                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Маргулан Аскарбеков</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Артур</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Макс</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Анатолий</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Жаник</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Анастасия</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Достан Айдарбеков</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>

                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Маргулан Аскарбеков</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Артур</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Макс</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Анатолий</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Жаник</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Анастасия</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>
                            <div class="name-slider-item">
                                <div class="name-slider-text">
                                    <div class="name-slider-person">Достан Айдарбеков</div>
                                    <div class="name-slider-descript">Веб-дизайнер</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>