<section class="out-team section" data-anchor="our_team">

    <div class="conteiner">
        <div class="mbox">
            <div class="left-column">
                <div class="title-small desktop">Встречайте нашу команду</div>
                <h2 class="title"><span>#</span>наша <span>ком</span>анда</h2>
                <div class="descript">*Работайте как команда, а не как группа одиночек (Джон Коттер)</div>
            </div>
            <div class="slider-block">
                <div class="slider-fotos">
                    <div class="slider-background">
                        <div class="slider-background-border"></div>
                        <div class="slider-background-fon"></div>
                    </div>
                    <div class="slider-fotos-wrap">
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                        <div class="slider-foto">
                            <div class="slider-foto-item">
                                <img src="images/slider-foto-img1.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-column">
                <div class="name-slider">
                    <div class="name-slider-person">Елена Дерр</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Маргулан Аскарбеков</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Анатолий Марченко</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Макс Лубенко</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Анастасия Шкарупина</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Нурлан Сабуров</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
                <div class="name-slider">
                    <div class="name-slider-person">Достан Айдарбеков</div>
                    <div class="name-slider-descript">Веб-дизайнер</div>
                </div>
            </div>
        </div>
    </div>

</section>