<section class="portfolio section"  data-anchor="portfolio" style="background-image:url('images/portfolio-bg.jpg')">
    <div class="conteiner">
        <div class="portfolio-wrap">
            <div class="item item-1">
                <a href="#">
                    <span class="portfolio-img">
                        <img src="images/portfolio-1.jpg" alt="">
                    </span>
                    <span class="portfolio-text">
                        <span class="portfolio-subtitle">
                            <b>#</b>ДИЗАЙН
                        </span>
                        <span class="portfolio-title">
                            РАБОТЫ
                        </span>
                        <span class="portfolio-minitext">
                            <p>Упаковка важна так же, как и продукт. </p>
                            <p>Иногда даже важнее… </p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="item item-2">
                <a href="#">
                    <span class="portfolio-img">
                        <img src="images/portfolio-2.jpg" alt="">
                    </span>
                    <span class="portfolio-text">
                        <span class="portfolio-subtitle">
                            <b>#</b>CОЦИАЛЬНЫЕ СЕТИ
                        </span>
                        <span class="portfolio-title">
                            SMM/SEO
                        </span>
                        <span class="portfolio-minitext">
                            <p>Один из основных факторов успеха </p>
                            <p>Вашей онлайн-рекламы... </p>
                        </span>
                    </span>
                </a>
            </div>
            <div class="item item-3">
                <a href="#">
                    <span class="portfolio-img">
                        <img src="images/portfolio-3.jpg" alt="">
                    </span>
                    <span class="portfolio-text">
                        <span class="portfolio-subtitle">
                            <b>#</b>КЕЙСЫ
                        </span>
                        <span class="portfolio-title">
                            КЛИЕНТЫ
                        </span>
                        <span class="portfolio-minitext">
                            <p>Клиент не может быть просто удовлетворен</p>
                            <p>Клиент должен быть доволен...</p>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>