<section class="services section setion-animate"  data-anchor="services">
    <div class="conteiner ">
        <div class="mbox animate-it">
            <div class="title-text">
                <h2> <span>#</span> услуги нашено агенства</h2>                
            </div>

            <div class="top-block">
                <div class="lister desctop">
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Создание сайтов</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">SMM</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Котекстная реклама</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Созднание Брендбука</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Графический дизайн</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Разработка презентаций</b>
                        </div>
                    </a>
                </div>
                <div class="lister mobile">
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Создание сайтов</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">SMM</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Котекстная реклама</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Созднание Брендбука</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Графический дизайн</b>
                        </div>
                    </a>
                    <a href="#" class="item">
                        <div class="cont">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                                <g><path d="M500,10c-179.1,0-324.8,145.7-324.8,324.9c0,171.1,292.7,601.5,305.2,622.3L500,990l19.6-32.8c12.5-20.8,305.2-451.3,305.2-622.3C824.8,155.7,679.1,10,500,10z M508.7,505.1c-96.1,0-174.3-78.2-174.3-174.4c0-96.1,78.2-174.2,174.3-174.2c96.1,0,174.3,78.2,174.3,174.2C683.1,426.9,604.9,505.1,508.7,505.1z"/></g>
                            </svg>
                        </div>
                        <div class="after">
                            <b class="relo">Разработка презентаций</b>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="bot-block">
                <div class="left-side">
                    <div class="hed"> 
                        <h5>создано <br/> сайтов для наших <br/> клиентов с <span>2015  </span> года </h5>
                        <div class="kappa mobile">045</div>
                    </div>
                    <div class="but-row">
                        <a href="#" class="going-to">
                            <span>Наши работы</span>
                            <img src="images/port.png" alt="">
                        </a>
                        <a href="#" class="going-to">
                            <span>Онлайн консультация</span>
                            <img src="images/qwe.png" alt="">
                        </a>
                    </div>
                    <div class="citat">
                        - Накопленный за 2 года опыт позволяет создавать эффективный сайт,  продумвать до мельчайших деталей.
                    </div>
                    <div class="call">
                        <a href="" class="fancybox-form call-me">
                            <span>ПОДРОБНЕЕ</span>
                        </a>
                        <a href="" class="fancybox-form call-me">
                            <span>ЗАКАЗАЗАТЬ</span>
                        </a>
                    </div>
                </div>
                <div class="right-side">
                    <div class="rat">135</div>
                    <div class="under">
                        <div class="part">
                            <div class="title">15 Сайтов под ключ</div>
                            <div class="after">Накопленный за 2 года опыт позволяет создавать эффективный сайт, продумвать до мельчайших деталей.</div>
                            <img src="images/part-1.png" alt="">
                        </div>

                        <div class="part">
                            <div class="title">30 Landing page</div>
                            <div class="after">Накопленный за 2 года опыт позволяет создавать эффективный сайт, продумвать до мельчайших деталей.</div>
                            <img src="images/part-2.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile under-buttons">
                <a href="" class="positive-butt">
                    <img src="images/butt-pluss.png" alt="">
                    <span>ПОДРОБНЕЕ</span>
                </a>
                <a href="" class="down-butt">
                    <img src="images/butt-bown.png" alt="">
                    <span>ЗАКАЗАЗАТЬ</span>
                </a>
            </div>

        </div>
    </div>
</section>