<div class="smm_conteiner">
    <div class="mbox">
        <div class="top-row">
            <div class="title-text"> 
                <h1> <span>#</span>SММ/SEO </h1> 
            </div>
            <div class="after-text">SMM – это  продвижение Вашего бренда, товаров, услуг посредством ведущих социальных платформ с целью увеличения продаж и узнаваемости бренда.</div>
        </div>
        <div class="tabs-row">
            <div class="topest">
                <!-- -->
                <ul>
                    <li class="active">SММ</li>
                    <li>SEO</li>
                </ul>
                <!-- -->
            </div>
            <div class="disp">
                <!-- -->
                <ul>
                    <li class="active">
                        <ul>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s1.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="button-row">
                            <a href="" class="more" data-tab='SММ' >
                                <span>Загрузить еще1</span>
                            </a>
                        </div>
                    </li>

                    <li>
                        <ul>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item">
                                    <div class="top-img">
                                        <img src="images/s2.jpg" alt="">
                                    </div>
                                    <div class="titl">Холодные закуски «Snack»</div>
                                    <div class="soc-line">
                                        <a href="" class='inst' target="_blank"> @snack_astana	 </a>
                                        <a href="" class='vk' target="_blank"> /snack_astana </a>
                                        <a href="" class='fb' target="_blank"> /snack_astana </a>
                                    </div>
                                    <div class="table">
                                        <ul>
                                            <li>
                                                <b>Период проведения: </b>
                                                <span>месяц</span>
                                            </li>
                                            <li>
                                                <b>Подписчиков: </b>
                                                <span>3600</span>
                                            </li>
                                            <li>
                                                <b>Среднее кол-во лайков: </b>
                                                <span>120</span>
                                            </li>
                                            <li>
                                                <b>Коментариев:  </b>
                                                <span>103</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="button-row">
                            <a href="" class="more" data-tab='SEO'>
                                <span>Загрузить еще2</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <!-- -->
            </div>
            
        </div>
    </div>
</div>